<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>The Forgetting Project</title>
        <meta name="description" content="Studying human memory and forgetting">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSRF meta tag --> 
	<meta name="_csrf" content="{{_csrfToken}}">

        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<!-- Bootstrap CSS, must load this one first -->
	<link rel="stylesheet" href="vendor/css/bootstrap.min.css">

        <link rel="stylesheet" href="vendor/css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

	<!-- Bootstrap Form Helpers -->
	<link href="vendor/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">

        <!-- load mocha css if tests have been requested -->
	{{#if showTests}}
            <link rel="stylesheet" href="/vendor/css/mocha.css">
	{{/if}}

        <!-- Loading jQuery here, as per boomk, through HTML5BP loads it just after modernizer below -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" 
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
		crossorigin="anonymous"></script>
    </head>




    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

	<!-- try header with no fluid container -->
	<header role="banner">

	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <a class="navbar-brand" href="/">
	      <img src="/img/Memlist_Neon.png" width="40" height="40" alt="memlist logo">
	    </a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
		    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
	      <ul class="navbar-nav">
		<li class="nav-item active">
		  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/about">About</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/withdraw">Withdraw</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/privacy">Privacy</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/logout">Logout</a>
		</li>
	      </ul>
	    </div>
	  </nav>

	</header>

	
	<!-- fluid container holding the entire main section -->

        <main role="main">
          <div class="container-fluid">

            {{#if flash}}
            <div class="alert alert-dismissible alert-{{flash.type}}" role="alert">
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	      </button>
	      <strong>{{flash.intro}}</strong> {{{flash.message}}}
	    </div>
	    {{/if}}

	    <!-- insert view here -->
	    {{{body}}}

	  </div><!-- /.container-fluid -->
	</main>


	<!-- fluid container holding the entire footer section -->
        <footer role="contentinfo">
          <div class="container-fluid">

	      <p class="text-center mt-5" ><small>Copyright &copy; {{copyrightYear}} Terry McGibbon</small></p>

          </div><!-- /.container-fluid -->
	</footer>


        <!-- End of site or application content here -->

	<!-- Load JS scripts -->
        <script src="vendor/js/modernizr-3.5.0.min.js"></script>
        <!-- jQuery load from CDN line from HTML5BP was removed from here -->
        <script>window.jQuery || document.write('<script src="vendor/js/jquery-3.2.1.min.js"><\/script>')</script>
	<!-- Bootstrap and its Popper depenedency -->
	<script src="vendor/js/popper.min.js"></script>
	<script src="vendor/js/bootstrap.min.js"></script>

	<!-- Bootstrap Form Helpers -->
	<script src="vendor/js/bootstrap-formhelpers.min.js"></script>

        <!-- main custom js  -->
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

	<!-- check for and run tests -->
	{{#if showTests}}
	    <div id="mocha"></div>
	    <script src="/vendor/js/mocha.js"></script>
	    <script src="/vendor/js/chai.js"></script>
	    <script>
	      mocha.ui('tdd');
              var assert = chai.assert;
	    </script>
	    <script src="/qa/tests-global.js"></script>
	    {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
	    {{/if}}
	    <script>mocha.run();</script>
	{{/if}}

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>

</html>
