{{! ----------------- Institution 1001   Project 001  AUS CTE  ------------------ }}

{{#if project.p1001_001}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>

<div>
     {{#section "projectjs"}}
     <script src="js/p1001_001.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 080  Greek  ------------------ }}

{{else if project.p1000_080}}

<h5>Σφάλμα 403 – Η φόρμα εμπεριέχει σφάλματα.</h5>
<p>Για περαιτέρω πληροφορίες παρακαλώ επικοινωνήστε με τον Terry McGibbon στο tmcgi001@gold.ac.uk </p>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_080.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 070  Elika CTE English  ------------------ }}

{{else if project.p1000_070}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_070.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 060  Polish  ------------------ }}

{{else if project.p1000_060}}

<h5>Błąd 403 - zmieniono formularz.</h5>
<p>W celu uzyskania dalszych informacji prosimy skontaktować się z Terrym McGibbonem, email: tmcgi001@gold.ac.uk.</p>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 050  Turkish  ------------------ }}

{{else if project.p1000_050}}

<h5>Hata 403 – Form tahrif edildi.</h5>
<p>Daha fazla bilgi için tmcgi001@gold.ac.uk adresinden Terry McGibbon ile iletişime geçebilirsiniz.</p>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 040  Italian  ------------------ }}

{{else if project.p1000_040}}

<h5>Errore 403 – Il modulo è stato manomesso.</h5>
<p>Per ulteriori informazioni contattare Terry McGibbon (email: tmcgi001@gold.ac.uk).</p>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 030  French  ------------------ }}

{{else if project.p1000_030}}

<h5>Erreur 403 - Le formulaire a été manipulé.</h5>
<p>Pour plus d'informations, contactez Terry McGibbon à l'adresse suivante : tmcgi001@gold.ac.uk</p>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English  ------------------ }}

{{else if project.p1000_020}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 010 Norwegian ------------------ }}

{{else if project.p1000_010}}

<h5>403 error - Form has been tampered with.</h5>
<p>For mer informasjon kontakt Terry McGibbon på tmcgi001@gold.ac.uk</p>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 005 UK Greenwich ------------------ }}

{{else if project.p1000_005}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_005.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 004 UK EPS CVLT ------------------ }}

{{else if project.p1000_004}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_004.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 003 UK Schools ------------------ }}

{{else if project.p1000_003}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_003.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>

{{/if}}

