
{{! ----------------- Institution 1000   Project 060  Polish ------------------ }}

{{#if project.p1000_060}}

<h1>404 - Nie znaleziono</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 050  Turkish ------------------ }}

{{else if project.p1000_050}}

<h1>404 – Bulunamadı</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 040  Italian  ------------------ }}

{{else if project.p1000_040}}

<h1>404 – Server non trovato</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 030  French ------------------ }}

{{else if project.p1000_030}}

<h1>404 - Non trouvé</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<h1>404 - Not Found</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010 Norwegian ------------------ }}

{{else if project.p1000_010}}

<h1>404- Ikke funnet</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<h1>404 - Not Found</h1>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}

<h1>404 - Not Found</h1>

{{/if}}

