{{! ----------------- Institution 1001   Project 001  AUS CTE ------------------ }}

{{#if project.p1001_001}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1001_001.js"></script>
     {{/section}}
</div>

{{! ----------------- Institution 1000   Project 102  American Football  ------------------ }}

{{else if project.p1000_102}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_102.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 101  UK Menopause version  ------------------ }}

{{else if project.p1000_101}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_101.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 100  UK Reference/Trial version  ------------------ }}

{{else if project.p1000_100}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_100.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 080  Greek ------------------ }}

{{else if project.p1000_080}}

<h1>404 – Δε βρέθηκε</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_080.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 070  Elika CTE English ------------------ }}

{{else if project.p1000_070}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_070.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 060  Polish ------------------ }}

{{else if project.p1000_060}}

<h1>404 - Nie znaleziono</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 050  Turkish ------------------ }}

{{else if project.p1000_050}}

<h1>404 – Bulunamadı</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 040  Italian  ------------------ }}

{{else if project.p1000_040}}

<h1>404 – Server non trovato</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 030  French ------------------ }}

{{else if project.p1000_030}}

<h1>404 - Non trouvé</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<h1>404 - Not Found</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010 Norwegian ------------------ }}

{{else if project.p1000_010}}

<h1>404- Ikke funnet</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 009  UK Remember Positive  ------------------ }}

{{else if project.p1000_009}}

<h1>404 - Not Found</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_009.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 008  UK Forget Negative  ------------------ }}

{{else if project.p1000_008}}

<h1>404 - Not Found</h1>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_008.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 007 UK Recognition  ------------------ }}

{{else if project.p1000_007}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_007.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 006 UK CTE  ------------------ }}

{{else if project.p1000_006}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_006.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 005 UK Greenwich ------------------ }}

{{else if project.p1000_005}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_005.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 004 UK EPS CVLT ------------------ }}

{{else if project.p1000_004}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_004.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 003 UK Schools ------------------ }}

{{else if project.p1000_003}}

<h1>404 - Not Found</h1>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_003.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<h1>404 - Not Found</h1>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}

<h1>404 - Not Found</h1>

{{/if}}

