{{! ----------------- Institution 1001   Project 001  AUS CTE  ------------------ }}

{{#if project.p1001_001}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study is a collaboration with Dr Michael Gascoigne and Isabella Kidd at the Australian College of Applied Psychology, and measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1001_001.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 103  UK Rugby ------------------ }}

{{else if project.p1000_103}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_103.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 102 American Football ------------------ }}

{{else if project.p1000_102}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_102.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 101  UK Menopause version  ------------------ }}

{{else if project.p1000_101}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_101.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 100  UK Reference/Trial version  ------------------ }}

{{else if project.p1000_100}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_100.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 080  Greek   ------------------ }}

{{else if project.p1000_080}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">Σχετικά με αυτήν τη μελέτη.</h5>

<p>Το «Πρόγραμμα της Λήθης» είναι ένα ερευνητικό πρόγραμμα που διερευνά την ανθρώπινη μνήμη και λήθη, διεξαγόμενο από Διδακτορικούς φοιτητές και προσωπικό του Goldsmiths, University of London.</p>

<p>Ο κύριος ερευνητής είναι ο Διδακτορικός φοιτητής Terry McGibbon (email: tmcgi001@gold.ac.uk), υπό την εποπτεία του νευροψυχολόγου Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>Η παρούσα μελέτη εκτιμά τη μνήμη των συμμετεχόντων για ζεύγη λέξεων, η οποία εξετάζεται σε διάφορες καθυστερήσεις.</p>

<p>Λεπτομέρειες σχετικά με το απόρρητο, τη συγκατάθεση και το δικαίωμα αποχώρησης από την έρευνα μπορείτε να βρείτε <a href="/privacy">εδώ</a>. </p>

<p>
Η μετάφραση στα ελληνικά έγινε από τον Θωμά Θεοδοσίου (tgtheodosiou@gmail.com) και την Διονυσία Κονταξοπούλου (d.kontaxopoulou@hotmail.com).
</p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_080.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 070  Elika CTE English  ------------------ }}

{{else if project.p1000_070}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_070.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 060  Polish  ------------------ }}

{{else if project.p1000_060}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">Opis tego badania</h5>

<p>Badanie “Pamięć - Choroba Alzheimera - Demencja (PCAiD)” ma na celu określenie tego, w jaki sposób pamięci i zapominania zmieniają się w ogólnej populacji. Badanie jest realizowane przez pracowników i doktorantów z College’u Goldsmiths Uniwersytetu w Londynie.</p>

<p>Kierownikiem tego badania jest Terry McGibbon (e-mail: tmcgi001@gold.ac.uk), doktorant w College’u Goldsmiths Uniwersytetu w Londynie. Opiekunem projektu jest dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>W tym badaniu mierzona jest pamięć par słów w różnych odstępach czasu.</p>

<p>Szczegółowy dotyczące polityki prywatności, zgody oraz prawa do wycofania się z badania można znaleźć <a href="/privacy">tutaj</a>. </p>

<p>Tłumaczenie na język polski było wykonane przez Ernesta Tyburskiego, Ewę Karabanowicz, Dominika Sala (email: etyburski@swps.edu.pl).</p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 050  Turkish  ------------------ }}

{{else if project.p1000_050}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">Bu araştırma hakkında.</h5>

<p>Unutma Projesi, Londra Goldsmiths Üniversitesi doktora öğrencileri ve personeli tarafından yürütülen insan hafızası ve unutmayı araştıran bir araştırma programıdır.</p>

<p>Baş araştırmacı şu anda, nöropsikolog Dr. Ashok Jansari (email: a.jansari@gold.ac.uk) süpervizörlüğünde, doktora öğrencisi Terry McGibbon’dır (tmcgi001@gold.ac.uk).</p>

<p>Mevcut çalışma, katılımcıların kelime çiftleri için belleğini farklı gecikmelerde ölçmektedir.</p>

<p>Gizlilik, onay ve geri çekilme hakkı ilkeleriyle ilgili ayrıntılar <a href="/privacy">burada</a>bulunabilir.</p>

<p>Türkçe diline çeviri Esma Metinkale (email: esmayilmaz966@gmail.com) tarafından gerçekleştirildi.</p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 040  Italian ------------------ }}

{{else if project.p1000_040}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">Informazioni sulla ricerca.</h5>

<p>Il progetto Memoria è uno studio di ricerca che investiga la memoria e la sua perdita, ed è condotta da studenti dottorandi e staff dell’Università Goldsmiths di Londra.</p>

<p>Il responsabile della presente ricerca è lo studente dottorando Terry McGibbon (email: tmcgi001@gold.ac.uk), sotto la supervisione del Neuropsicologo Dottor Ashok Jansari (email: a.jansari@gold.ac.uk).</p>

<p>Il presente studio indaga la memoria di coppie di parole da rievocare in diversi intervalli di tempo.</p>

<p>Dettagli riguardo privacy, consenso informato e diritto a ritirarsi dallo studio si
possono trovare cliccando <a href="/privacy">qui</a>. </p>

<p>La traduzione in Italiano è stata effettuata da <Claudia Pulcini> (cpulc002@gold.ac.uk) e da <Pietro Manzella> (pietro.manzella97@gmail.com).</p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 030  French ------------------ }}

{{else if project.p1000_030}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">À propos de cette recherche.</h5>

<p>Le Projet de l’Oubli est un programme de recherche sur la mémoire humaine et l'oubli, mené par des étudiants en doctorat et le personnel de Goldsmiths, University of London.</p>

<p>Le chercheur principal est actuellement le doctorant Terry McGibbon (e-mail : tmcgi001@gold.ac.uk), sous la supervision du neuropsychologue Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>L'étude actuelle évalue la mémoire des participants pour des couples de mots, testés à différents moments.</p>

<p>Les détails de notre politique de confidentialité, le consentement et le droit de retrait peuvent être trouvés <a href="/privacy">ici</a>. </p>

<p>La traduction en Français a été effectuée par Andrea Chebat (email: andreachebat@hotmail.com)</p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010 Norwegian ------------------ }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">Om prosjektet. </h5>

<p>Hukommelsesprosjektet er et prosjekt som undersøker menneskets minne og hukommelse, gjennomført av PhD studenter og personale ved Goldsmiths, University of London.</p>

<p>Den ledende forskeren er PhD studenten Terry McGibbon (email: tmcgi001@gold.ac.uk), under tilsyn av nevropsykologen Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>Prosjektet tester deltakerens hukommelse for ordpar, som blir testet ved flere anledninger.</p>

<p>Detaljer om personvern, samtykkeerklæring og retten til å trekke samtykke kan bli funnet <a href="/privacy">her</a>. </p>

<p>Oversatt til norsk av Andrea Furuly (afuru001@gold.ac.uk).</p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 009  UK Remember Positive  ------------------ }}

{{else if project.p1000_009}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_009.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 008  UK Forget Negative  ------------------ }}

{{else if project.p1000_008}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_008.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 007 UK Recognition ------------------ }}

{{else if project.p1000_007}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_007.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 006 UK CTE ------------------ }}

{{else if project.p1000_006}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_006.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 005 UK Greenwich ------------------ }}

{{else if project.p1000_005}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_005.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 004 UK EPS CVLT ------------------ }}

{{else if project.p1000_004}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_004.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 003 UK Schools ------------------ }}

{{else if project.p1000_003}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_003.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>


{{/if}}
