

{{! ----------------- Institution 1000   Project 050  Turkish ------------------ }}

{{#if project.p1000_050}}

<div id="introduction" style="display: block">


    <div class="row justify-content-center">
        <div class="col text-center">
	     <h5 class='text-center pt-3'>Kelime çifti öğrenme denemesi</h5>
            <p  id='study' style="display: block">Hazır olduğunuzda aşağıdaki butona tıklayarak deneme turunu başlatabilirsiniz.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startDemo()" class="btn btn-primary">Demoyu başlat</button>
        </div>
    </div>

</div>


<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Ezberlenecek kelime çifti:<b id='wordpair'></b> </p> 
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Kelime çiftindeki ikinci kelimeyi yazın. Devam etmek için Enter tuşuna basın ya da Gönder butonuna tıklayın.
      	  <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Doğru!</span></p>
     <p>Doğru kelime eşi:</p> 
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Incorrect!</span></p>
     <p>Doğru kelime eşi:</p> 
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete! 
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div> 


<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Gönder</button>
    </div>
  </div>

</form>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 040  Italian ------------------ }}

{{else if project.p1000_040}}

<div id="introduction" style="display: block">


    <div class="row justify-content-center">
        <div class="col text-center">
	     <h5 class='text-center pt-3'>Dimostrazione della fase di acquisizione delle coppie di parole</h5>
            <p  id='study' style="display: block">Cliccare sul seguente pulsante se si è pronti per iniziare la dimostrazione.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startDemo()" class="btn btn-primary">Inizia Demo</button>
        </div>
    </div>

</div>


<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Coppia da memorizzare:<b id='wordpair'></b> </p> 
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Inserire la seconda parola della coppia nello spazio sottostante. Premere invio per continuare
      	  <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Corretto!</span></p>
     <p>La corretta coppia di parole è la seguente:</p> 
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Errato!</span></p>
     <p>La corretta coppia di parole è la seguente:</p> 
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete! 
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div> 


<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Invio</button>
    </div>
  </div>

</form>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 030  French ------------------ }}

{{else if project.p1000_030}}

<div id="introduction" style="display: block">


    <div class="row justify-content-center">
        <div class="col text-center">
	     <h5 class='text-center pt-3'>Démonstration de l'apprentissage des paires de mots</h5>
            <p  id='study' style="display: block">Une fois prêt, appuyez sur le bouton ci-dessous pour lancer la démonstration.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startDemo()" class="btn btn-primary">Commencer la Démo</button>
        </div>
    </div>

</div>


<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Paire de mots à mémoriser: <b id='wordpair'></b> </p> 
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Tapez le deuxième mot de la paire. Appuyez sur la touche Retour ou sur le bouton Envoyer pour continuer
      	  <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Correct!</span></p>
     <p>La bonne paire est:</p> 
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Incorrect!</span></p>
     <p>La bonne paire est:</p> 
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete! 
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div> 


<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Envoyer</button>
    </div>
  </div>

</form>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div id="introduction" style="display: block">


    <div class="row justify-content-center">
        <div class="col text-center">
	     <h5 class='text-center pt-3'>Word-pair learning practice trial</h5>
            <p  id='study' style="display: block">When you are ready press the button below to start the practice trial.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startDemo()" class="btn btn-primary">Start Practice Trial</button>
        </div>
    </div>

</div>


<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Wordpair to remember:<b id='wordpair'></b> </p> 
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Type in the second word in the pair. Press Return or the Submit button to continue
      	  <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Correct!</span></p>
     <p>The correct wordpair is:</p> 
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Incorrect!</span></p>
     <p>The correct wordpair is:</p> 
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete! 
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div> 


<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010  Norwegian ------------------ }}

{{else if project.p1000_010}}

<div id="introduction" style="display: block">


    <div class="row justify-content-center">
        <div class="col text-center">
	     <h5 class='text-center pt-3'>Demonstrasjon om læring av ordpar</h5>
            <p  id='study' style="display: block">Når du er klar trykker du på knappen under for å starte demonstrasjonen.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startDemo()" class="btn btn-primary">Start Demo</button>
        </div>
    </div>

</div>


<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Memorer ordpar:<b id='wordpair'></b> </p> 
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Skriv inn det andre ordet i ordparet. Trykk ferdig for å fortsette
      	  <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Korrekt!</span></p>
     <p>Det riktige ordparet er: </p> 
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Feil!</span></p>
     <p>Det riktige ordparet er: </p> 
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete! 
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div> 


<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Ferdig</button>
    </div>
  </div>

</form>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div id="introduction" style="display: block">


    <div class="row justify-content-center">
        <div class="col text-center">
	     <h5 class='text-center pt-3'>Word-pair learning demonstration</h5>
            <p  id='study' style="display: block">When you are ready press the button below to start the demonstration.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startDemo()" class="btn btn-primary">Start Demo</button>
        </div>
    </div>

</div>


<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Wordpair to memorise:<b id='wordpair'></b> </p> 
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Type in the second word in the pair. Press Return or the Submit button to continue
      	  <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Correct!</span></p>
     <p>The correct wordpair is:</p> 
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Incorrect!</span></p>
     <p>The correct wordpair is:</p> 
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete! 
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div> 


<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>

<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}

<div id="introduction" style="display: block">


    <div class="row justify-content-center">
        <div class="col text-center">
	     <h5 class='text-center pt-3'>Word-pair learning demonstration</h5>
            <p  id='study' style="display: block">When you are ready press the button below to start the demonstration.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startDemo()" class="btn btn-primary">Start Demo</button>
        </div>
    </div>

</div>


<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Wordpair to memorise:<b id='wordpair'></b> </p> 
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Type in the second word in the pair. Press Return or the Submit button to continue
      	  <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Correct!</span></p>
     <p>The correct wordpair is:</p> 
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Incorrect!</span></p>
     <p>The correct wordpair is:</p> 
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete! 
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div> 


<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>


{{/if}}
