{{! ----------------- Institution 1001   Project 001  AUS CTE   ------------------ }}

{{#if project.p1001_001}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1001_001.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 080  Greek  ------------------ }}

{{else if project.p1001_001}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Οδηγίες μετά τη Δοκιμασία</h5>
     <p>Τα δεδομένα μας δείχνουν ότι έχετε συμπληρώσει όλα τα επίπεδα της μελέτης. Δεν υπάρχει τίποτα περισσότερο να κάνετε.</p>
     <p>Σάς ευχαριστούμε για τη συμμετοχή σας! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Επιστροφή στην αρχική σελίδα</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_080.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 070  Elika CTE English  ------------------ }}

{{else if project.p1000_070}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_070.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 060  Polish  ------------------ }}

{{else if project.p1000_060}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Instrukcje po ukończeniu zadań.</h5>
     <p>Ukończył/a Pan/i wszystkie zadania.</p>
     <p>Dziękujemy za udział w badaniu! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Powrót do strony głównej</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 050  Turkish  ------------------ }}

{{else if project.p1000_050}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Test Sonrası Yönergeler</h5>
     <p>Kayıtlarımız deneyin bütün aşamalarını tamamladığınız gösteriyor. Daha yapılacak bir görev yok.</p>
     <p>Katılımınız için teşekkürler! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Ana sayfaya dön</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 040  Italian  ------------------ }}

{{else if project.p1000_040}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Istruzioni Post Test</h5>
     <p>Ci risulta che tutte le fasi dello studio sono state completate. Non occorre nient’altro.</p>
     <p>Grazie per aver partecipato! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Ritornare alla pagina principale</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 030  French ------------------ }}

{{else if project.p1000_030}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Instructions une fois le test est terminé</h5>
     <p>Nos dossiers montrent que vous avez maintenant terminé toutes les étapes de l'étude. Vous n’avez plus rien à faire.</p>
     <p>Merci pour votre participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Retourner à la page d’accueil</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010  Norwegian------------------ }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Videre instruksjon etter test</h5>
     <p>Du har fullført alle deler av studiet. Det er ikke noe mer du trenger å gjøre.</p>
     <p>Tusen takk for din deltakelse! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Tilbake til startside</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 005 UK Greenwich ------------------ }}

{{else if project.p1000_005}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_005.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 004 UK EPS CVLT ------------------ }}

{{else if project.p1000_004}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_004.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 003 UK Schools ------------------ }}

{{else if project.p1000_003}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_003.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


{{/if}}