

{{! ----------------- Institution 1000   Project 060  Polish  ------------------ }}

{{#if project.p1000_060}}

<div class="row">

   <div class="col-3">
        <img src="/img/Mr_pipo_Learning_and_forgetting.png" class="img-fluid" alt="Responsive image of forgetting">
   </div>

   <div class="col-8">

     <h4 class="pt-3">Witamy w badaniu naukowym “Projekt - Zapominanie”!</h4>

     <p>Badanie to dotyczy procesów pamięci i zapominania. Celem jest określenie tego, w jaki sposób procesy te zmieniają się w ogólnej populacji. Zapraszamy do udziału osoby dorosłe (tzn. powyżej 18 roku życia) płynnie mówiące w języku polskim.
     </p>

     <p>Prosimy o zaznaczenie czy jest Pan/i nowym uczestnikiem czy ponownym uczestnikiem.
     </p>

     <div class="row">
     <div class="col-auto text-center pt-3">
     <a href="/learn?project=p1000_060" class="btn btn-primary" role="button">Nowy uczestnik</a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/delayed?project=p1000_060" class="btn btn-primary" role="button">Ponowny uczestnik</a>
     </div>

     </div>

     <div class="row" style="display = inline">

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_001"><img src="/img/GB.png" alt="Select English language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_010"><img src="/img/NO.png" alt="Select Norwegian language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_020"><img src="/img/IN.png" alt="Select Indian English as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_030"><img src="/img/FR.png" alt="Select French as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_040"><img src="/img/IT.png" alt="Select Italian as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_050"><img src="/img/TR.png" alt="Select Turkish as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_060"><img src="/img/PL.png" alt="Select Polish as language"></a>
     </div>

     </div>

   </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 050  Turkish ------------------ }}

{{else if project.p1000_050}}


<div class="row">

   <div class="col-3">
        <img src="/img/Mr_pipo_Learning_and_forgetting.png" class="img-fluid" alt="Responsive image of forgetting">
   </div>

   <div class="col-8">

     <h4 class="pt-3">Unutma Projesine Hoş Geldiniz!</h4>

     <p>
      İnsan belleği, unutma ve bunların toplum içinde nasıl çeşitlilik gösterdiğini inceliyoruz. Çalışmamıza katılabilmek için iyi bir Türkçe seviyesine sahip olmanız ve 18 yaşında veya daha büyük olmanız yeterlidir.
     </p>

     <p>Öncelikle yeni bir katılımcı mı, yoksa geri dönen bir katılımcı mı olduğunuzu belirtmelisiniz.
     </p>

     <div class="row">
     <div class="col-auto text-center pt-3">
     <a href="/learn?project=p1000_050" class="btn btn-primary" role="button">Yeni katılımcı</a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/delayed?project=p1000_050" class="btn btn-primary" role="button">Geri dönen katılımcı</a>
     </div>

     </div>

     <div class="row" style="display = inline">

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_001"><img src="/img/GB.png" alt="Select English language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_010"><img src="/img/NO.png" alt="Select Norwegian language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_020"><img src="/img/IN.png" alt="Select Indian English as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_030"><img src="/img/FR.png" alt="Select French as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_040"><img src="/img/IT.png" alt="Select Italian as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_050"><img src="/img/TR.png" alt="Select Turkish as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_060"><img src="/img/PL.png" alt="Select Polish as language"></a>
     </div>

     </div>

   </div>

</div>




<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 040  Italian  ------------------ }}

{{else if project.p1000_040}}


<div class="row">

   <div class="col-3">
        <img src="/img/Mr_pipo_Learning_and_forgetting.png" class="img-fluid" alt="Responsive image of forgetting">
   </div>

   <div class="col-8">

     <h4 class="pt-3">Benvenuti al Progetto Memoria!</h4>

     <p>Il nostro scopo è quello di studiare la memoria ed il suo deterioramento nell’essere umano, e la sua variabilità all’interno della popolazione generale. I requisiti
necessari per partecipare sono una buona conoscenza della lingua italiana ed avere almeno 18 anni.
     </p>

     <p>Per prima cosa, vorremmo sapere se siete nuovi partecipanti o se già avete iniziato lo studio.
     </p>

     <div class="row">
     <div class="col-auto text-center pt-3">
     <a href="/learn?project=p1000_040" class="btn btn-primary" role="button">Nuovo partecipante</a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/delayed?project=p1000_040" class="btn btn-primary" role="button">Ho già iniziato lo studio</a>
     </div>

     </div>

     <div class="row" style="display = inline">

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_001"><img src="/img/GB.png" alt="Select English language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_010"><img src="/img/NO.png" alt="Select Norwegian language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_020"><img src="/img/IN.png" alt="Select Indian English as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_030"><img src="/img/FR.png" alt="Select French as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_040"><img src="/img/IT.png" alt="Select Italian as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_050"><img src="/img/TR.png" alt="Select Turkish as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_060"><img src="/img/PL.png" alt="Select Polish as language"></a>
     </div>

     </div>

   </div>

</div>




<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 030  French  ------------------ }}

{{else if project.p1000_030}}


<div class="row">

   <div class="col-3">
        <img src="/img/Mr_pipo_Learning_and_forgetting.png" class="img-fluid" alt="Responsive image of forgetting">
   </div>

   <div class="col-8">

     <h4 class="pt-3">Bienvenu au Projet de l’Oubli! </h4>

     <p>Nous étudions la mémoire humaine, l'oubli, et comment cela varie au sein de la population générale. Si vous souhaitez participer, il vous faudrait simplement avoir un bon niveau de Français et être âgé de 18 ans ou plus.
     </p>

     <p>Dites-nous d'abord si vous êtes un nouveau ou un ancien participant.
     </p>

     <div class="row">
     <div class="col-auto text-center pt-3">
     <a href="/learn?project=p1000_030" class="btn btn-primary" role="button">Nouveau participant</a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/delayed?project=p1000_030" class="btn btn-primary" role="button">Ancien participant</a>
     </div>

     </div>

     <div class="row" style="display = inline">

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_001"><img src="/img/GB.png" alt="Select English language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_010"><img src="/img/NO.png" alt="Select Norwegian language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_020"><img src="/img/IN.png" alt="Select Indian English as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_030"><img src="/img/FR.png" alt="Select French as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_040"><img src="/img/IT.png" alt="Select Italian as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_050"><img src="/img/TR.png" alt="Select Turkish as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_060"><img src="/img/PL.png" alt="Select Polish as language"></a>
     </div>

     </div>

   </div>

</div>




<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}


<div class="row">

   <div class="col-3">
        <img src="/img/Mr_pipo_Learning_and_forgetting.png" class="img-fluid" alt="Responsive image of forgetting">
   </div>

   <div class="col-8">

     <h4 class="pt-3">Welcome to The Forgetting Project!</h4>

     <p>We are studying human memory and forgetting, and how this varies within the general population. If you would like to participate you just need to have a good standard of English and be aged 18 or over.
     </p>

     <p>You are viewing the version for Indian nationals. To change to another version click on the flags below.
     </p>

     <p>First tell us whether you are a new participant, or a returning participant.
     </p>

     <div class="row">
     <div class="col-auto text-center pt-3">
     <a href="/learn?project=p1000_020" class="btn btn-primary" role="button">New participant</a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/delayed?project=p1000_020" class="btn btn-primary" role="button">Returning participant</a>
     </div>

     </div>

     <div class="row" style="display = inline">

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_001"><img src="/img/GB.png" alt="Select English language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_010"><img src="/img/NO.png" alt="Select Norwegian language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_020"><img src="/img/IN.png" alt="Select Indian English as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_030"><img src="/img/FR.png" alt="Select French as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_040"><img src="/img/IT.png" alt="Select Italian as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_050"><img src="/img/TR.png" alt="Select Turkish as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_060"><img src="/img/PL.png" alt="Select Polish as language"></a>
     </div>

     </div>

   </div>

</div>




<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010  Norwegian ------------------ }}

{{else if project.p1000_010}}

<div class="row">

   <div class="col-3">
   	<img src="/img/Mr_pipo_Learning_and_forgetting.png" class="img-fluid" alt="Responsive image of forgetting">
   </div>

   <div class="col-8">

     <h4 class="pt-3">Velkommen til Hukommelsesprosjektet!</h4>

     <p>Vi studerer menneskets minne og hukommelse, og hvordan dette varierer innenfor befolkningen. Hvis du vil delta må du ha middels god norsk og være 18 år eller eldre.
     </p>
     <p>Først, fortell oss om du er en ny eller returnerende deltaker.
     </p>

     <div class="row">
     <div class="col-auto text-center pt-3">
     <a href="/learn?project=p1000_010" class="btn btn-primary" role="button">Ny deltaker</a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/delayed?project=p1000_010" class="btn btn-primary" role="button">Returnerende deltaker</a>
     </div>

     </div>

     <div class="row" style="display = inline">

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_001"><img src="/img/GB.png" alt="Select English language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_010"><img src="/img/NO.png" alt="Select Norwegian language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_020"><img src="/img/IN.png" alt="Select Indian English as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_030"><img src="/img/FR.png" alt="Select French as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_040"><img src="/img/IT.png" alt="Select Italian as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_050"><img src="/img/TR.png" alt="Select Turkish as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_060"><img src="/img/PL.png" alt="Select Polish as language"></a>
     </div>

     </div>

   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row">

   <div class="col-3">
   	<img src="/img/Mr_pipo_Learning_and_forgetting.png" class="img-fluid" alt="Responsive image of forgetting">
   </div>

   <div class="col-8">

     <h4 class="pt-3">Welcome to The Forgetting Project!</h4>

     <p>We are studying human memory and forgetting, and how this varies within the general population. If you would like to participate you just need to have a good standard of English and be aged 18 or over.
     </p>
     <p>First tell us whether you are a new participant, or a returning participant.
     </p>

     <div class="row">

     <div class="col-auto text-center pt-3">
     <a href="/learn?project=p1000_002" class="btn btn-primary" role="button">New participant</a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/delayed?project=p1000_002" class="btn btn-primary" role="button">Returning participant</a>
     </div>

     </div>

     <div class="row" style="display = inline">

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_001"><img src="/img/GB.png" alt="Select English language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_010"><img src="/img/NO.png" alt="Select Norwegian language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_020"><img src="/img/IN.png" alt="Select Indian English as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_030"><img src="/img/FR.png" alt="Select French as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_040"><img src="/img/IT.png" alt="Select Italian as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_050"><img src="/img/TR.png" alt="Select Turkish as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_060"><img src="/img/PL.png" alt="Select Polish as language"></a>
     </div>

     </div>

   </div>
</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}

<div class="row">

   <div class="col-3">
        <img src="/img/Mr_pipo_Learning_and_forgetting.png" class="img-fluid" alt="Responsive image of forgetting">
   </div>

   <div class="col-8">

     <h4 class="pt-3">Welcome to the Memory, Alzheimer’s and Dementia (MeAD) Project!</h4>


     <div class="row" style="display = inline">

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_001"><img src="/img/GB.png" alt="Select English language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_010"><img src="/img/NO.png" alt="Select Norwegian language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_020"><img src="/img/IN.png" alt="Select Indian English as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_030"><img src="/img/FR.png" alt="Select French as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_040"><img src="/img/IT.png" alt="Select Italian as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_050"><img src="/img/TR.png" alt="Select Turkish as language"></a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/?project=p1000_060"><img src="/img/PL.png" alt="Select Polish as language"></a>
     </div>

     </div>


     <p>
     Are you aged 16 or over and can you spare 30 minutes to help with an exciting international study on memory and play a part in helping us diagnose Alzheimer’s and other forms of dementia much more efficiently than currently possible? 
     </p>




     <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
     <h2 class="accordion-header" id="flush-headingOne">
     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
     How big a problem is dementia?
     </button>
     </h2>
     <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
     <div class="accordion-body">Currently, globally there are about 50 million people living with dementia and this is set to rise to 75 million by 2030; at the moment, this is costing society <b>$1,000,000,000,000</b> (one trillion dollars) and this is projected to double by 2030. Unfortunately, since dementia is a progressive condition getting worse over time, it is difficult to tell it apart from the small everyday forgetting that everyone experiences as they get older. At the moment, by the time that someone gets a clinical diagnosis of dementia, the disease has usually got to such a late point that they already have huge difficulties, often needing constant care. This is extremely distressing both for them and their family.
       </div>
     </div>
     </div>
     <div class="accordion-item">
     <h2 class="accordion-header" id="flush-headingTwo">
     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
     What is MeAD and how will it help?
     </button>
     </h2>
     <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
     <div class="accordion-body">
     To address this huge problem, the MeAD project at Goldsmiths, University of London is developing a new test to try to diagnose individuals <b>much earlier</b> than current clinical tests are able to. If we can diagnose dementia earlier in the disease, then we can support the patient much more and (with the hopeful development of drug treatments aimed at stopping the progress of the disease) preserve more of their memory, their sense of self and overall quality of life – this will also reduce the awful distress felt by all the family who are seeing their loved one fade away before them….
     </div>
     </div>
     </div>
     <div class="accordion-item">
     <h2 class="accordion-header" id="flush-headingThree">
     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
     How you can help
     </button>
     </h2>
     <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
     <div class="accordion-body">

     <p>
     To help in our project, we need people of <b>all ages</b> to take part in the MeAD project to see how our memory develops through life and how it changes as we get older. Once we know how <b>healthy ageing</b> affects memory, we will be able to see what happens in dementia and therefore develop better tests for clinical diagnosis. Importantly, we are looking for all levels of memory, so do not worry if your memory is one of the better ones, worse ones, or just ‘average’ - we need you all &#128515;  
     </p>

     <p>
     You can also help by sharing if you know anyone that would be interested in taking part in the project – the more people that take part, the more useful our results will be for trying to help people with dementia. Please feel free to get in contact with the lead researchers if you have any questions.
     </p>

     <p>
     Please feel free to get in contact with the lead researchers if you have any questions.
     </p>

     </div>
     </div>
     </div>
     </div>

     




     <p>
     <b>How big a problem is dementia?</b>
     </p>

     <p>
     Currently, globally there are about 50 million people living with dementia and this is set to rise to 75 million by 2030; at the moment, this is costing society <b>$1,000,000,000,000</b> (one trillion dollars) and this is projected to double by 2030. Unfortunately, since dementia is a progressive condition getting worse over time, it is difficult to tell it apart from the small everyday forgetting that everyone experiences as they get older. At the moment, by the time that someone gets a clinical diagnosis of dementia, the disease has usually got to such a late point that they already have huge difficulties, often needing constant care. This is extremely distressing both for them and their family. 
     </p>

     <p>
     <b>What is MeAD and how will it help?</b>
     </p>

     <p>
     To address this huge problem, the MeAD project at Goldsmiths, University of London is developing a new test to try to diagnose individuals <b>much earlier</b> than current clinical tests are able to. If we can diagnose dementia earlier in the disease, then we can support the patient much more and (with the hopeful development of drug treatments aimed at stopping the progress of the disease) preserve more of their memory, their sense of self and overall quality of life – this will also reduce the awful distress felt by all the family who are seeing their loved one fade away before them….
     </p>

     <p>
     <b>How you can help</b>
     </p>

     <p>
     To help in our project, we need people of <b>all ages</b> to take part in the MeAD project to see how our memory develops through life and how it changes as we get older. Once we know how <b>healthy ageing</b> affects memory, we will be able to see what happens in dementia and therefore develop better tests for clinical diagnosis. Importantly, we are looking for all levels of memory, so do not worry if your memory is one of the better ones, worse ones, or just ‘average’ - we need you all &#128515;  
     </p>

     <p>
     You can also help by sharing if you know anyone that would be interested in taking part in the project – the more people that take part, the more useful our results will be for trying to help people with dementia. Please feel free to get in contact with the lead researchers if you have any questions.
     </p>

     <p>
     Please feel free to get in contact with the lead researchers if you have any questions.
     </p>


     <p>
     <b>Take part.</b>
     </p>

     <p>To get started first tell us whether you are a new participant, or a returning participant.
     </p>

     <p>
     In advance, thank you!
     </p>


     <div class="row">
     <div class="col-auto text-center pt-3">
     <a href="/learn?project=p1000_001" class="btn btn-primary" role="button">New participant</a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/delayed?project=p1000_001" class="btn btn-primary" role="button">Returning participant</a>
     </div>

     </div>


   </div>

</div>

{{/if}}




