
{{! ----------------- Institution 1000   Project 040  Italian ------------------ }}

{{#if project.p1000_040}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Istruzioni</h5>
     <p>La prova consiste nel memorizzare coppie di parole, e successivamente la vostra memoria per le stesse verrà testata.</p>

     <p>Inizialmente ogni coppia di parole vi verrà mostrata per 7 secondi. Il vostro compito è di provare a memorizzarle.</p>

     <p>Una volta mostrate tutte le coppie di parole la vostra memoria per ciascuna di esse verrà testata:
	 <ul> 
	   <li>Vi verrà mostrata la prima parola della coppia e vi verrà richiesto di inserire la seconda.</li> 
	   <li>Vi verrà immediatamente comunicato se la risposta data è giusta o sbagliata, e la risposta corretta verrà poi mostrata.</li> 
	   <li>Nel caso in cui la vostra risposta sia errata, provate successivamente a ricordare quella corretta.</li> 
	   <li>Ciascuna coppia di parole verrà testata varie volte.</li>
	 </ul>
     </p>

     <p>
     Una breve dimostrazione, con una lista di sole 3 coppie di parole, vi aiuterà a familiarizzare con il test. Questa dimostrazione serve solo per acquisire familiarità con la procedura e i risultati non saranno parte dello studio. Potete ripetere la dimostrazione più volte prima di iniziare con il vero e proprio studio.
     </p>

     <p>Provate a fornire le risposte nel minor tempo possibile ma senza avere fretta.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Pagina successiva</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 030  French  ------------------ }}

{{else if project.p1000_030}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>
     <p>Votre tâche consiste à mémoriser des paires de mots, ensuite votre mémoire de ces paires sera testée.</p>

     <p>Tout d'abord, chaque paire de mots vous sera montrée pendant 7 secondes. Essayez de mémoriser les paires.</p>

     <p>Une fois que toutes les paires de mots ont été montrées, votre mémoire pour chaque paire de mots sera testée:
	 <ul> 
	   <li>On vous montrera le premier mot d'une paire et on vous demandera d'entrer le deuxième mot.</li> 
	   <li>On vous dira si votre réponse était correcte ou pas, et la bonne réponse sera affichée.</li> 
	   <li>Si vous vous trompez, essayez de vous souvenir de la bonne réponse.</li> 
	   <li>Chaque paire de mots sera testée plusieurs fois.</li>
	 </ul>
     </p>

     <p>Pour vous familiariser avec le processus, une courte démonstration est prévue. Elle utilisera une liste restreinte, avec seulement trois paires de mots. Cette démonstration a pour seul but de vous aider à vous familiariser avec le processus ; les résultats ne font pas partie de l'étude. Vous pouvez répéter la démonstration autant de fois que vous le souhaitez avant de commencer la partie principale de l'étude.
    </p>

     <p>Essayez de travailler rapidement, mais sans vous presser/précipiter.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Suivant</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>
     <p>Your task is to remember pairs of words, and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to remember the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair and asked to enter the second word.</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>Each word pair will be tested multiple times.</li>
	 </ul>
     </p>

     <p>You will be given a practice trial to understand the test process. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the practice trial as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 55 minutes and again after 24 hours, so please start at a time which will allow you to return after those delays. </p>

     <p>Try to work quickly, but without rushing.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010  Norwegian ------------------ }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instruksjoner</h5>
     <p>Din oppgave er å memorere ordpar, så vil din hukommelse for disse ordparene bli testet.</p>

     <p>Først vil du bli vist hvert ordpar i 7 sekunder. Prøv å memorere ordparene.</p>

     <p>Etter hvert ordpar har blitt vist, vil hukommelsen din for ordparene bli testet:
	 <ul> 
	   <li>Du vil bli vist det første ordet fra ett ordpar, og spurt om å skrive inn ord nummer to.</li> 
	   <li>Du vil få beskjed om ditt svar er riktig eller ikke, og det riktige svaret vil bli vist.</li> 
	   <li>Hvis du svarer feil, prøv å huske det korrekte svaret.</li> 
	   <li>Hvert ordpar vil bli testet flere ganger.</li>
	 </ul>
     </p>

     <p>For å gjøre deg trygg på prosedyren, vil en demonstrasjon følge. Demonstrasjonen vil bruke en kort liste, med bare tre ordpar. Dette er kun for å gjøre deg trygg på prosedyren, og resultatet vil ikke være en del av studie. Du kan repetere demonstrasjonen så mange ganger du vil, før du starter hoveddelen.</p>

     <p>Prøv å jobbe raskt, men uten å stresse.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Neste</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>
     <p>Your task is to memorise pairs of words, and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair and asked to enter the second word.</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>Each word pair will be tested multiple times.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>Try to work quickly, but without rushing.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>
     <p>Your task is to memorise pairs of words, and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair and asked to enter the second word.</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>Each word pair will be tested multiple times.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 55 minutes and again after 24 hours, so please start at a time which will allow you to return after those delays. </p>

     <p>Try to work quickly, but without rushing.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


{{/if}}

