{{! ----------------- Institution 1001   Project 001 AUS CTE ------------------ }}

{{#if project.p1001_001}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of detecting subtle memory problems caused by CTE, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes each – you just need to do them at a later stage, around 55 minutes and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online 55 minutes later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 55 minutes and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1001_001.js"></script>
     {{/section}}
</div>

{{! ----------------- Institution 1000   Project 107 UK battle re-enactment ------------------ }}

{{else if project.p1000_107}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of identifying subtle differences in memory performance this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. <b><em>It is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_107.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 106 UK RPS 1 week 2nd delay ------------------ }}

{{else if project.p1000_106}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of diagnosing dementia, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and one week after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally one week later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after one hour and again after one week; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_106.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 105  AUS sports version  ------------------ }}

{{else if project.p1000_105}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of identifying subtle differences in memory performance this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. <b><em>It is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_105.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 104  UK Treatment Seeking version  ------------------ }}

{{else if project.p1000_104}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of diagnosing dementia, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_104.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 103 UK Rugby ------------------ }}

{{else if project.p1000_103}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of identifying subtle differences in memory performance this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. <b><em>It is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_103.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 102 American Football ------------------ }}

{{else if project.p1000_102}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of identifying subtle differences in memory performance this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. <b><em>It is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_102.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 101  UK Menopause version  ------------------ }}

{{else if project.p1000_101}}


<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of detecting subtle memory problems, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. <b><em>It is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_101.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 100  UK Reference/Trial version  ------------------ }}

{{else if project.p1000_100}}


<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of diagnosing dementia, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_100.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 080  Greek  ------------------ }}

{{else if project.p1000_080}}


<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Οδηγίες</h5>

     <p><b>Θα είναι εύκολο το τεστ;</b></p>

     <p>
     Πριν αποφασίσετε να λάβετε μέρος, θα θέλαμε να τονίσουμε ότι λόγω της πολυπλοκότητας του να διαγνωστεί κάποιος με άνοια, αυτό το τεστ πρέπει να αποτελεί <em>πρόκληση</em>. Οπότε παρακαλώ μην ανησυχείτε εάν το βρείτε «πονηρό» καθώς δεν είναι ένα «εύκολο παιχνίδι μνήμης» όπως μπορεί να βρείτε σε μερικά site. Εάν το βρείτε δύσκολο, αυτό δε σημαίνει ότι έχετε κακή μνήμη καθώς γνωρίζουμε ήδη ότι άνθρωποι με φυσιολογική μνήμη θα το βρουν δύσκολο.
     </p>

     <p><b>Πόσο χρόνο θα χρειαστώ για αυτήν τη μελέτη;</b></p>
     <p>
     Το τεστ χωρίζεται σε τρία μέρη. Ο χρόνος για να ολοκληρώσετε το Μέρος 1 θα ποικίλει ανάμεσα στους ανθρώπους αφού απαιτεί να μάθετε να συνδέετε δυο λέξεις μαζί. Κάποιοι άνθρωποι θα χρειαστούν μόνο 10 λεπτά για να το χρησιμοποιήσουν ενώ άλλοι περισσότερο: όμως, το <b>μέγιστο</b> που θα πάρει αυτό το πρώτο μέρος είναι <b>25 λεπτά</b>. Τα άλλα δύο μέρη θα πάρουν 3 λεπτά το καθένα – απλά χρειάζεται να τα κάνετε αργότερα, περίπου μία ώρα και 24 ώρες μετά το πρώτο μέρος.
     </p>


     <p><b>Πότε να ξεκινήσω;</b></p>
     <p>
     Παρακαλώ ξεκινήστε όταν ξέρετε ότι θα είστε διαθέσιμοι για μέχρι και <em>25 λεπτά</em> για το Μέρος 1 και ότι θα μπορείτε να επιστρέψετε online μία ώρα μετά για το Μέρος 2 και τέλος μια μέρα μετά για το Μέρος 3. Για να βοηθήσετε με τον απώτερο στόχο μας του να φτιάξουμε ένα νέο τεστ για τη διάγνωση της άνοιας <b>είναι πραγματικά σημαντικό να ολοκληρώσετε και τα τρία μέρη</b>.
     </p>


     <p><b>Τι πρέπει να κάνω;</b></p>

     <p>Αυτό που πρέπει να κάνετε είναι να θυμάστε ζεύγη λέξεων (π.χ. <em>βιβλίο – δέντρο</em>) και τότε θα εξεταστεί η μνήμη σας για αυτά τα ζεύγη λέξεων.</p>

     <p>Αρχικά θα σας παρουσιαστεί κάθε ζεύγος λέξεων για 7 δευτερόλεπτα. Προσπαθήστε να θυμάστε τα ζεύγη.</p>

     <p>Μετά την παρουσίαση όλων των ζευγών λέξεων θα εξεταστεί η μνήμη σας για κάθε ζεύγος λέξεων:
	 <ul> 
	   <li>Θα σας παρουσιαστεί η πρώτη λέξη του ζεύγους (π.χ. <em>βιβλίο</em>) και θα σας ζητηθεί να συμπληρώσετε τη δεύτερη λέξη (π.χ. <em>δέντρο</em>).</li> 
	   <li>Θα σας γίνει φανερό εάν δώσατε σωστή ή λανθασμένη απάντηση και η σωστή απάντηση θα σας παρουσιαστεί.</li> 
	   <li>Εάν δώσετε λανθασμένη απάντηση προσπαθήστε να θυμάστε τη σωστή απάντηση.</li> 
	   <li>Θα ελεγχθείτε για κάθε ζεύγος λέξεων αρκετές φορές, οπότε παρακαλώ μην εκπλαγείτε εάν δείτε κάποια που είχατε απαντήσει σωστά νωρίτερα.</li>
	 </ul>
     </p>

     <p>
     Για να σας γίνει οικεία η διαδικασία, υπάρχει μια σύντομη παρουσίαση. Θα χρησιμοποιηθεί μια μικρή λίστα με μόνο τρία ζεύγη λέξεων. Αυτό είναι μόνο για να βοηθηθείτε στο να σας γίνει οικεία η διαδικασία: τα αποτελέσματα δεν είναι μέρος της μελέτης. Μπορείτε να επαναλάβετε την παρουσίαση όσες φορές επιθυμείτε πριν ξεκινήσετε το κυρίως μέρος της μελέτης.
     </p>

     <p>
     Αφού μάθετε όλα τα ζεύγη λέξεων στο κυρίως μέρος της μελέτης θα χρειαστεί να επιστρέψετε για ένα σύντομο τεστ μετά από 1 ώρα και ξανά μετά από 24 ώρες: Το site θα σας λέει τι ώρα πρέπει να επιστρέφετε κάθε φορά. Το μόνο που χρειάζεται είναι να βάλετε μια υπενθύμιση για να επιστρέψετε όταν σας ζητηθεί από το site.
      </p>

     <p>
     Προσπαθήστε να δουλέψετε μέσω της φάσης μάθησης (Μέρος 1) όσο πιο γρήγορα και με επιτυχία είναι εφικτό: όμως, παρακαλώ μη βιαστείτε καθώς θα προτιμούσατε να μάθετε επιτυχώς από το να βιαστείτε και να κάνετε πολλά λάθη.
    </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Επόμενο</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_080.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 070  Elika CTE English  ------------------ }}

{{else if project.p1000_070}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     The test is not particularly hard to complete. If you find the test hard, this is not a sign that you have a bad memory, as people with healthy memory can also find it difficult. 
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts:
     </p>

     <ul>
     <li><b>Part 1</b> - the time will vary as this involves learning to link word pairs together. Some people will take 10 minutes, and the maximum time for the first phase is 25 minutes.
     </li>
     <li><b>Part 2 and 3</b> - These parts will take no longer than 3 minutes, you will need to do them at two different times, around one hour and 24 hours after the first part.
     </li>
     </ul>

     <p><b>When should I start?</b></p>
     <p>
     Please start when you are free for up to <b>25 minutes</b> to complete <b>Part 1</b> and will be able to come back online one hour later for <b>Part 2</b> and then finally 24 hours later for <b>Part 3</b>. To help with our eventual aim of developing a new test to diagnose dementia <b><em>it is really important that you complete all three parts.</em></b>
     </p>     

     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested after an hour and 24 hours.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>
     There will be a <b>short demonstration</b> to help familiarise yourself with the process. This will involve a short list with only three-word pairs. The results of this will not contribute to the study, and it is just to help you to get familiar with the process. You can repeat the demonstration as many times as you wish before the main learning part of the study.
     </p>

     <p>
     Once you have learnt all the word pairs in the main learning part of the study, you will need to <b>return after one hour</b> and <b>again after 24 hours</b> for the short test; the webpage will tell you the specific time that you need to return each time. All you need to do is to set yourself a reminder to come back to the webpage at the specified time and complete the test as a returning participant.
     </p>

     <p>
     Please try to work through the learning phase (part 1) as quickly and efficiently as possible, however, please don’t rush since we would like you to learn efficiently rather than rush and making lots of mistakes. 
    </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_070.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 060  Polish  ------------------ }}

{{else if project.p1000_060}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instrukcja</h5>
     <p>
     <b>Czy ten test będzie łatwy?</b>
     </p>

     <p>
     Zanim zdecyduje się Pan/i wziąć udział w badaniu, pragniemy podkreślić, że ze względu na złożoność diagnozy demencji test ten musi być pewnego rodzaju wyzwaniem. Jeśli okaże się on trudny, prosimy się tym nie martwić. Nie jest to „łatwa gra pamięciowa”, jaką można znaleźć na niektórych stronach internetowych. Jeśli nie okaże się on łatwy, nie oznacza to, że ma Pan/i niską sprawność pamięci, ponieważ już wiemy, że dla osób z dobrą pamięcią stanowi on wyzwanie.
     </p>

     <p>
     <b>Ile czasu zajmie to badanie?</b>
     </p>

     <p>
     Test jest podzielony na trzy części. Czas wykonania części 1 będzie się różnił dla różnych osób, ponieważ wymaga nauki łączenia dwóch słów razem. Niektórym osobom wykonanie tej części może zająć około 10 minut, natomiast innym zajmie więcej czasu. Maksymalny czas wykonania części 1 to 25 minut. Pozostałe dwie części zajmują tylko po 3 minuty - wystarczy wykonać je później - około godziny po części 1 i po 24 godzinach.
     </p>

     <p>
     <b>Kiedy należy zacząć?</b>
     </p>

     <p>
     Prosimy zacząć, gdy będzie Pan/i dysponował/a 25 minutami na wykonanie części 1, następnie będzie Pan/i mógł/a wrócić za godzinę, aby zrealizować część 2 i na koniec, po 24 godzinach, na część 3. Bardzo ważne jest to, aby wykonać <b>wszystkie trzy części testu</b>, ponieważ tylko dzięki temu będziemy mogli zrealizować cel badania.
     </p>

     <p>
     <b>Co należy zrobić?</b>
     </p>

     <p>
     Pana/i zadaniem jest zapamiętanie par słów (np. usta - krzak), a następnie ich przypomnienie.
     </p>

     <p>
     Najpierw na ekranie będą pojawiać się pary słów. Każda para będzie wyświetlana oddzielnie przez 7 sekund. Prosimy, aby je wszystkie zapamiętać.
     </p>

     <p>
     Po zobaczeniu wszystkich par słów, będzie Pan/i poproszony/a o ich przypomnienie:
     </p>

	 <ul> 
	   <li>Zobaczy Pan/i pierwsze słowo z pary (np. <em>usta</em>) i zostanie poproszony/a o wpisanie drugiego słowa (np. <em>krzak</em>) z tej samej pary.</li> 
	   <li>Zostanie Pan/i poinformowany/a, czy udzielił/a Pan/i poprawnej odpowiedzi. Poprawna odpowiedź zostanie wyświetlona na ekranie.</li> 
	   <li>Jeśli udzieli Pan/i niepoprawnej odpowiedzi, to i tak prosimy zapamiętać poprawną odpowiedź.</li> 
	   <li>Zostanie Pan/i poproszony/a o przypomnienie sobie par słów kilka razy, dlatego prosimy się nie zdziwić, jeśli pojawi się para, którą uzupełniał/a Pan/i już wcześniej.</li>
	 </ul>

     <p>
     W celu zapoznania się z procedurą badania, zostanie Pan/i poproszony/a o wykonanie zadania próbnego. Składa się ono z krótkiej listy zawierającej tylko trzy pary słów. Chodzi o to, aby zapoznać się z procedurą badania; wyniki z tego zadania nie będą analizowane. Przed wzięciem udziału w zadaniu głównym może Pan/i powtórzyć zadanie próbne tak wiele razy jak będzie to konieczne.
     </p>

     <p>
     Jeśli nauczy się Pan/i wszystkich par słów w zadaniu głównym, będzie Pan/i musiał/a wrócić na krótki test po upływie 1 godziny i ponownie po 24 godzinach; na stronie internetowej będzie napisane, o której godzinie należy ponownie wykonać zadania. Prosimy ustawić sobie przypomnienie, aby powrócić o wymaganej godzinie.
     </p>

     <p>
     Prosimy postarać się wykonać zadanie uczenia się (część 1) tak szybko i efektywnie, jak to tylko możliwe; jednak nie należy się śpieszyć, ponieważ wolelibyśmy, aby uczyć się efektywnie, zamiast zbyt szybko i błędnie.
     </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Dalej</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 050  Turkish  ------------------ }}

{{else if project.p1000_050}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Yönergeler</h5>
     <p>Göreviniz kelime çiftlerini ezberlemek. Sonrasında bu kelime çiftleri için belleğiniz test edilecek.</p>

     <p>İlk olarak her bir kelime çifti 7 saniye boyunca gösterilecek. Kelime çiftlerini ezberlemeye çalışın.</p>

     <p>Bütün kelime çiftleri gösterildikten sonra her bir kelime çifti için belleğiniz test edilecek:
	 <ul> 
	   <li>Bir kelime çiftindeki ilk kelime gösterilecek ve sizden ikinci kelimeyi girmeniz istenecek.</li> 
	   <li>Cevabınızın doğru olup olmadığı belirtilecek ve doğru cevap gösterilecek.</li> 
	   <li>Cevabınız yanlışsa lütfen doğru cevabı hatırlamaya çalışın.</li> 
	   <li>Her bir kelime çifti birden çok kez test edilecek.</li>
	 </ul>
     </p>

     <p>
     Deneyin işleyişine alışmanız için kısa bir deneme olacak. Deneme turu sadece üç kelimeden oluşan kısa bir liste içeriyor. Denemenin amacı sadece sizi deneyin işleyişine alıştırmak olduğundan sonuçları çalışmaya dahil edilmeyecek. Deneyin ana kısmına başlamadan deneme turunu istediğiniz kadar tekrar edebilirsiniz.
     </p>

     <p>Hızlı olmaya çalışın fakat acele etmeyin.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">İleri</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 040  Italian ------------------ }}

{{else if project.p1000_040}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Istruzioni</h5>

     <p><b>Sarà facile il test?</b></p>

     <p>
     Prima di iniziare, vogliamo sottolineare che data la complessità sottostante una diagnosi di demenza, è normale che questa prova venga considerata difficile. Quindi non preoccuparti se hai difficoltà nello svolgere il test; questo non significa che tu abbia problemi di memoria. È stato constatato che anche persone sane e con una memoria ‘normale’ possono trovarlo complicato. 
     </p>

     <p><b>Quanto tempo impiegherò per svolgere la prova?</b></p>
     <p>
     Il test si divide in tre fasi. Il tempo necessario per completare la prima fase è variabile individualmente e dipende da quanto ci metterai a imparare delle coppie di parole. Può variare dai 10 ai 25 minuti <b>massimo</b>. Le altre due fasi invece durano solo 3 minuti ciascuna, ma vanno svolte in momenti diversi; 1 ora e 24 ore dopo la prima parte.
     </p>

     <p><b>Quando posso iniziare?</b></p>
     <p>
     Ti chiediamo di iniziare quando saprai di avere fino a 25 minuti di tempo per completare la prima fase, e sai che avrai la possibilità di ritornare online un ora dopo per la seconda fase e 24 ore dopo per la terza fase. Per aiutarci nel nostro scopo di sviluppare un nuovo test per diagnosticare la demenza <b><em>è veramente fondamentale che vengano completate tutte e tre le parti</em></b>.
     </p>


     <p><b>Che cosa devo fare?</b></p>

     <p>
     Il tuo compito sarà quello di memorizzare coppie di parole (esempio: albero – libro). La tua memoria di queste coppie verrà poi testata. 
     </p>

     <p>
     Inizialmente ti verrà mostrata ciascuna coppia di parole per 7 secondi. Prova a memorizzare le coppie. 
     </p>

     <p>Dopo averti mostrato tutte le coppie, la tua memoria verrà testata in questo modo:
	 <ul> 
	   <li>Ti verrà mostrata la prima parola nella coppia (<em>albero</em>, seguendo l’esempio precedente) e richiesto di inserire la seconda parola (<em>libro</em>).</li> 
	   <li>Ti verrà indicato se la tua risposta è giusta o meno, e nel caso in cui non lo sia, ti verrà mostrata la soluzione.</li> 
	   <li>Se sbagli, dovrai provare a ricordare la soluzione corretta fornita.</li> 
	   <li>Ti verrà richiesto di ricordare ciascuna coppia più di una volta, quindi capiterà di inserire più volte la stessa parola.</li>
	 </ul>
     </p>

     <p>
     Una breve dimostrazione, con una lista di sole 3 coppie di parole, ti aiuterà a familiarizzare con il test. Questa dimostrazione serve solo per acquisire familiarità con la procedura e i risultati non saranno parte dello studio. Potrai ripetere la dimostrazione illimitatamente prima di iniziare con il vero e proprio studio. 
     </p>

     <p>
     Dopo aver imparato tutte le coppie di parole della prima fase dello studio dovrai tornare per due prove molto brevi, una dopo un’ora e un’altra dopo un giorno. Sarà il sito a dirti esattamente a che ora dovrai tornare ciascuna volta. Non dovrai fare altro che segnarti un promemoria per assicurarti di proseguire lo studio quando ti verrà richiesto di farlo. 
      </p>

     <p>
     Prova ad eseguire la prima fase nel minor tempo possibile, ma non lasciare che la troppa fretta comprometta un valido apprendimento.
     </p>

</div>
</div>


<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Pagina successiva</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 030  French  ------------------ }}

{{else if project.p1000_030}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>

     <p><b>Est-ce que le test serait facile?</b></p>

     <p>
     Avant que vous ne décidiez de participer, nous tenons à souligner qu'en raison de la complexité du diagnostic de la démence, ce test doit être stimulant. Ne vous inquiétez donc pas si vous le trouvez difficile, car il ne s'agit pas d'un "jeu de mémoire facile" comme vous pourrez en trouver sur certains sites en ligne. Si vous le trouvez difficile, cela <em>ne signifie pas</em> que vous avez une mauvaise mémoire, car nous savons déjà que des personnes ayant une mémoire normale et saine peuvent le trouver difficile.
     </p>

     <p><b>Combien de temps me faudra-t-il pour compléter l'étude?</b></p>
     <p>
     Le test est divisé en trois parties. Le temps nécessaire pour accomplir la première partie varie selon les personnes, car il s'agit d'apprendre à relier deux mots entre eux. Certaines personnes ne prendront qu'environ 10 minutes pour compléter cette partie, tandis que d'autres prendront plus de temps. Toutefois, la durée <b>maximale</b> de cette première phase est de <b>25 minutes</b>. Les deux autres parties ne prennent que 3 minutes chacune - vous devez simplement les faire plus tard, environ une heure et 24 heures après la première partie.
     </p>


     <p><b>Quand devrais-je commencer?</b></p>
     <p>
     Veuillez commencer lorsque vous savez que vous avez 25 minutes de libre pour la première partie, que vous pourrez revenir en ligne une heure plus tard pour la deuxième partie et enfin un jour plus tard pour la troisième partie. Pour nous aider à atteindre notre objectif de développer un nouveau test de diagnostic de la démence, <b><em>il est très important que vous complétiez les trois parties</em></b>.
     </p>


     <p><b>Que dois-je faire?</b></p>

     <p>
     Votre tâche consiste à mémoriser des paires de mots (par exemple, <em>livre - arbre</em>), ensuite on testera votre mémorisation de ces paires. 
     </p>

     <p>On vous montrera d'abord chaque paire de mots pendant 7 secondes. Essayez de mémoriser les paires.</p>

     <p>Après vous avoir montré toutes les paires de mots, on testera votre mémoire pour chaque paire:
	 <ul> 
	   <li>On vous montrera le premier mot d'une paire (par exemple, <em>livre</em>) et on vous demandera de saisir le deuxième mot (par exemple, <em>arbre</em>).</li> 
	   <li>On vous dira si votre réponse est correcte ou pas, et la bonne réponse sera affichée.</li> 
	   <li>Si vous vous trompez, essayez de vous souvenir de la bonne réponse.</li> 
	   <li>Vous serez testé sur chaque paire de mots plusieurs fois. Ne soyez donc pas surpris si vous en voyez une que vous aviez déjà correctement saisie.</li>
	 </ul>
     </p>

     <p>
     Pour vous familiariser avec le processus, nous vous proposons une courte démonstration. Celle-ci utilisera une liste réduite, avec trois paires de mots. Il s'agit uniquement de vous aider à vous familiariser avec le déroulement du test; les résultats ne font pas partie de l'étude. Vous pouvez répéter la démonstration autant de fois que vous le souhaitez avant de commencer la partie principale de l'étude.
     </p>

     <p>
     Une fois que vous aurez mémorisé toutes les paires de la partie principale de l'étude, vous devrez revenir pour un petit test après une heure, ensuite après 24 heures ; la page Web vous indiquera à quelle heure vous devrez revenir à chaque fois. Tout ce que vous avez à faire, c'est de créer un rappel pour revenir quand la page Web vous le demande.
     </p>

     <p>
     Essayez de passer la phase d'apprentissage (Partie 1) aussi rapidement et efficacement que possible ; toutefois, ne vous précipitez pas car nous préférons que vous appreniez efficacement plutôt que de vous précipiter et de faire de nombreuses erreurs.
    </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Suivant</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of diagnosing dementia, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>You will be given a practice trial to understand the test process. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the practice trial as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010  Norwegian ------------------ }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instruksjoner</h5>


     <p><b>Er testen enkel? </b></p>

     <p>
     Før du bestemmer deg for å delta, vil vi understreke at denne testen vil være utfordrende på grunn av kompleksiteten ved diagnostisering av demens. Ikke bekymre deg hvis du synes det er vanskelig, da dette ikke er et «enkelt huskespill» som du finner på nettet. Hvis du synes det er for vanskelig betyr det ikke at du har dårlig hukommelse, da vi vet at personer med normalt sunt minne kan finne testen utfordrende. 
     </p>

     <p><b>Hvor mye tid trenger jeg for å fullføre studiet?</b></p>
     <p>
     Testen er delt inn i tre deler. Tiden det vil ta å fullføre Del 1 vil variere fra person til person, da det innebærer at du lærer å knytte to ord sammen. Noen vil bare bruke 10 minutter på å fullføre, mens andre vil bruke lengre tid; likevel, <b>makstiden</b> på Del 1 er <b>25 minutter</b>. De to andre delene vil bare ta 3 minutter hver- du vil fullføre disse på et senere tidspunkt, etter rundt en time og 24 timer etter første del er fullført. 
     </p>

     <p><b>Når burde jeg starte?</b></p>
     <p>
     Vennligst start når du har opptil 25 minutter ledig for Del 1, og har muligheten til å komme tilbake etter en time for Del 2, og til slutt en dag senere for Del 3. For å hjelpe oss mot det endelige målet om å utvikle en ny test for å diagnostisere demens, <b><em>er det viktig at alle tre delene blir fullført</em></b>. 
     </p>

     <p><b>Hva trenger jeg å gjøre?</b></p>

     <p>Din oppgave er å memorere ordpar (for eksempel <em>bok-tre</em>), deretter vil hukommelsen din for disse ordparene bli testet.</p>

     <p>Først vil hvert ordpar bli vist i 7 sekunder. Prøv å husk disse ordparene. </p>

     <p>Etter alle ordparene har blitt vist, vil hukommelsen din for disse ordparene bli testet:
	 <ul> 
	   <li>Du vil bli vist det første ordet i et ordpar (for eksempel <em>bok</em>) og spurt om å skrive inn det andre ordet (for eksempel <em>tre</em>).</li> 
	   <li>Du vil bli fortalt om ditt svar er riktig eller galt, og det riktige ordet vil bli vist. </li> 
	   <li>Hvis du svarer galt, prøv å husk det riktige svaret.</li> 
	   <li>Du vil bli testet på hvert ordpar flere ganger, så ikke bli overrasket om du blir vist ett du svarte riktig på tidligere. </li>
	 </ul>
     </p>

     <p>
     n kort demonstrasjon vil bli gitt for å gjøre deg kjent med prosessen. Den vil bruke en kort liste med tre ordpar. Dette er kun for å gjøre deg trygg på prosessen; resultatet er derfor ikke en del av studiet. Du kan fullføre demonstrasjonen så mange ganger du vil, før du starter hoveddelen av studiet. 
     </p>

     <p>
     Etter du har lært alle ordparene i hovedstudiet, må du komme tilbake for en kort test etter en time og igjen etter 24 timer. Siden vil fortelle deg hvilket klokkeslett dette er. Alt du trenger å gjøre er å sette en påminnelse.  
     </p>

     <p>Prøv å jobbe gjennom læringsdelen (Del 1) så raskt og effektivt som mulig. Prøv likevel å gjøre dette uten å stresse, da vi vil at du skal lære så effektiv som mulig istedenfor å skynde deg igjennom og gjøre mange feil.</p>


</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Neste</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 009  UK Remember Positive  ------------------ }}

{{else if project.p1000_009}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that we have designed this test to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_009.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 008  UK Forget Negative  ------------------ }}

{{else if project.p1000_008}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of diagnosing dementia, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_008.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 007 UK Recognition ------------------ }}

{{else if project.p1000_007}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of diagnosing dementia, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_007.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 006 UK CTE ------------------ }}

{{else if project.p1000_006}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of identifying subtle differences in memory performance this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. <b><em>It is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_006.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 005 UK Greenwich ------------------ }}

{{else if project.p1000_005}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of diagnosing dementia, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_005.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 004 UK EPS CVLT ------------------ }}

{{else if project.p1000_004}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of diagnosing dementia, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes each – you just need to do them at a later stage, around 30 minutes and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online 30 minutes later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 30 minutes and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_004.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 003 UK Schools ------------------ }}

{{else if project.p1000_003}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of identifying subtle differences in memory performance, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. <b><em>It is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_003.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>
     <p>Your task is to memorise pairs of words, and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair and asked to enter the second word.</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>Each word pair will be tested multiple times.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>Try to work quickly, but without rushing.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3 pb-3">Instructions</h5>

     <p><b>Will the test be easy?</b></p>

     <p>
     Before you decide to take part, we want to stress that due to the complexity of diagnosing dementia, this test needs to be <em>challenging</em>. So please don't worry if you find it tricky since it is not an ‘easy memory game’ like you might find on some online sites. If you do find it hard, that does <em>not</em> mean that you have a bad memory since we already know people with normal healthy memory can find it challenging.
     </p>

     <p><b>How much time will I need to do the study?</b></p>
     <p>
     The test is divided into three parts. The time to complete Part 1 will vary between people since it involves you learning to link two words together. Some people will only take about 10 minutes to complete this part while some will take longer; however, the <b>maximum</b> time that this first phase will take is <b>25 minutes</b>. The other two parts take only 3 minutes and 5 minutes each – you just need to do them at a later stage, around one hour and 24 hours after the first part. 
     </p>


     <p><b>When should I start?</b></p>
     <p>
     Please start when you know that you are free for <em>up to 25 minutes</em> for Part 1, and will be able to come back online one hour later for Part 2 and then finally a day later for Part 3. To help with our eventual aim of developing a new test do diagnose dementia <b><em>it is really important that you complete all three parts</em></b>.
     </p>


     <p><b>What do I have to do?</b></p>

     <p>Your task is to memorise pairs of words (e.g. <em>book - tree</em>) and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair (e.g. <em>book</em>) and asked to enter the second word (e.g. <em>tree</em>).</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>You will be tested on each word pair a number of times so please don't be surprised if you see one that you had got correct earlier.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>After you have learnt all the pairs in the main part of the study you will need to return for a short test after 1 hour and again after 24 hours; the webpage will tell you what time you need to return each time. All you need to do is set yourself a reminder to come back when the webpage requests you to.
      </p>

     <p>Try to work through the learning phase (Part 1) as quickly and as efficiently as possible; however, please don't rush since we would prefer you to learn efficiently rather than rushing and making lots of errors.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


{{/if}}

