
{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{#if project.p1000_020}}

<div id="introduction" style="display: block" class="pt-3">

    <div class="row justify-content-center">
        <div class="col-10 text-center">
	     <h5 class='text-center'>Welcome to main study phase.</h1>
	     <p>Now that you have completed the practice trial you are ready to start the main part of the study. This time the list of word-pairs will be longer.</p> 

 	     <p>Most people complete this stage within 15 minutes. Please do it in a place where you will not be disturbed during the task.</p>
       	    <p  id='study' style="display: block">Press the button below to start</p>
    	</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startLearn()" class="btn btn-primary">Start</button>
        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <div class="col-10 text-center">
       	    <p  id='redemo' style="display: block">or press the button below if you would prefer to try the practice trial again first.</p>
    	</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <a href="/demo" class="btn btn-primary" role="button">Try practice trial again</a>
        </div>
    </div>

</div>



<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Wordpair to remember:<b id='wordpair'></b> </p>
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Type in the second word in the pair. Press Return or the Submit button to continue
          <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Correct!</span></p>
     <p>The correct wordpair is:</p>
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Incorrect!</span></p>
     <p>The correct wordpair is:</p>
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete!
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div>




<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 010 Norwegian ------------------ }}

{{else if project.p1000_010}}

<div id="introduction" style="display: block" class="pt-3">

    <div class="row justify-content-center">
        <div class="col-10 text-center">
	     <h5 class='text-center'>Velkommen til hoveddelen. </h1>
	     <p>Nå som du har fullført demonstrasjonen er du klar for hoveddelen av prosjektet. Denne gangen vil listen med ordparene være lengre. </p> 

 	     <p>De fleste vil fullføre denne delen innen 15 minutter. Vær vennlig og fullfør denne delen et sted uten forstyrrelser.</p>
       	    <p  id='study' style="display: block">Trykk på knappen under for å starte. </p>
    	</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startLearn()" class="btn btn-primary">Start</button>
        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <div class="col-10 text-center">
       	    <p  id='redemo' style="display: block">eller trykk på knappen under hvis du vil gå gjennom demonstrasjonen en gang til.</p>
    	</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <a href="/demo" class="btn btn-primary" role="button">Prøv demo igjen</a>
        </div>
    </div>

</div>



<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Memorer ordpar:<b id='wordpair'></b> </p>
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Skriv inn det andre ordet i ordparet. Trykk ferdig for å fortsette: 
          <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Korrekt!</span></p>
     <p>Det riktige ordparet er: </p>
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Feil!</span></p>
     <p>Det riktige ordparet er: </p>
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete!
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div>




<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Ferdig</button>
    </div>
  </div>

</form>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div id="introduction" style="display: block" class="pt-3">

    <div class="row justify-content-center">
        <div class="col-10 text-center">
	     <h5 class='text-center'>Welcome to main study phase.</h1>
	     <p>Now that you have completed the demo you are ready to start the main part of the study. This time the list of word-pairs will be longer.</p> 

 	     <p>Most people complete this stage within 15 minutes. Please do it in a place where you will not be disturbed during the task.</p>
       	    <p  id='study' style="display: block">Press the button below to start</p>
    	</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startLearn()" class="btn btn-primary">Start</button>
        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <div class="col-10 text-center">
       	    <p  id='redemo' style="display: block">or press the button below if you would prefer to try the demo again first.</p>
    	</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <a href="/demo" class="btn btn-primary" role="button">Try demo again</a>
        </div>
    </div>

</div>



<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Wordpair to memorise:<b id='wordpair'></b> </p>
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Type in the second word in the pair. Press Return or the Submit button to continue
          <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Correct!</span></p>
     <p>The correct wordpair is:</p>
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Incorrect!</span></p>
     <p>The correct wordpair is:</p>
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete!
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div>




<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div id="introduction" style="display: block" class="pt-3">

    <div class="row justify-content-center">
        <div class="col-10 text-center">
	     <h5 class='text-center'>Welcome to main study phase.</h1>
	     <p>Now that you have completed the demo you are ready to start the main part of the study. This time the list of word-pairs will be longer.</p> 

 	     <p>Most people complete this stage within 15 minutes. Please do it in a place where you will not be disturbed during the task.</p>
       	    <p  id='study' style="display: block">Press the button below to start</p>
    	</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <button type="button" onclick="startLearn()" class="btn btn-primary">Start</button>
        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <div class="col-10 text-center">
       	    <p  id='redemo' style="display: block">or press the button below if you would prefer to try the demo again first.</p>
    	</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
          <a href="/demo" class="btn btn-primary" role="button">Try demo again</a>
        </div>
    </div>

</div>



<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Wordpair to memorise:<b id='wordpair'></b> </p>
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Type in the second word in the pair. Press Return or the Submit button to continue
          <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Correct!</span></p>
     <p>The correct wordpair is:</p>
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Incorrect!</span></p>
     <p>The correct wordpair is:</p>
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>

<p  id='testOver' style="display: none">Test is complete!
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


   </div>
</div>




<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>


{{/if}}