{{! ----------------- Institution 1001   Project 001  AUS CTE ------------------ }}

{{#if project.p1001_001}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1001_001.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 080  Greek ------------------ }}

{{else if project.p1000_080}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Οδηγίες για μετά τη Μάθηση</h5>
     <p>
     Σάς ευχαριστούμε που ολοκληρώσατε το πρώτο τμήμα της μελέτης. Για το επόμενο στάδιο χρειάζετε να επιστρέψετε σε 55 λεπτά, στις <b> {{min30TestTime}} </b>, για να εξεταστείτε ξανά. Προτείνουμε να γράψετε την ώρα, να τραβήξετε μια φωτογραφία ή ακόμα και να βάλετε υπενθύμιση/ξυπνητήρι στο τηλέφωνό σας για να σας βοηθήσει να θυμηθείτε να επιστρέψετε. 
     </p>

     <p>Δε χρειάζεται να ξεκινήσετε ακριβώς στην ώρα σας: είναι ΟΚ να ξεκινήσετε λίγο αργότερα ή λίγο νωρίτερα. </p>
     <p>Εάν δεν μπορείτε να επιστρέψετε στη σωστή ώρα παρακαλώ κάντε το καθυστερημένο τεστ όποτε μπορείτε καθώς τα δεδομένα σας και πάλι θα βοηθήσουν στη μελέτη μας.</p>
     <p>Όταν επιστρέψετε, επισκεφτείτε την αρχική μας σελίδα και συνδεθείτε ως συμμετέχων που επιστρέφει στη μελέτη.</p>
     <p>Παρακαλώ μην προσπαθήσετε να επαναλάβετε τα ζεύγη λέξεων καθώς θα ακυρώσουν τα αποτελέσματα της μελέτης.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Επιστροφή στην αρχική σελίδα</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_080.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 070  Elika CTE English ------------------ }}

{{else if project.p1000_070}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_070.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 060  Polish ------------------ }}

{{else if project.p1000_060}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Instrukcja do zadania głównego - części 1</h5>
     <p>Dziękujemy za ukończenie części 1. W celu przejścia do części 3, prosimy, aby Pan/i wrócił/a za 55 minut, czyli o <b> {{min30TestTime}} </b>.</p>

     <p>
     Zalecamy, aby zanotować, zrobić zdjęcie lub ustawić przypomnienie w telefonie o godzinie powrotu na badanie.
     </p>

     <p>
     Nie musi Pan/i być dokładnie na czas; można zacząć trochę wcześniej lub później.
     </p>

     <p>
     Jeśli nie uda się Panu/i zacząć na czas zadania głównego, prosimy wykonać ten test, kiedy będzie miał/a Pan/i taką możliwość. Pana/i wyniki będą nadal pomocne w naszym badaniu.
     </p>

     <p>Po powrocie na naszą stronę główną, prosimy, aby Pan/i zalogował/a się jako ponowny uczestnik.</p>
     <p>Prosimy, aby nie powtarzał/a Pan/i par słów, które były w zadaniu głównym, ponieważ może to zakłócić wynik badania.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Powrót do strony głównej</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 050  Turkish  ------------------ }}

{{else if project.p1000_050}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Öğrenme Sonrası Yönergeleri</h5>
     <p>Deneyin ilk aşamasını tamamladığınız için teşekkür ederiz. Bir sonraki adım için 55 dakika sonra, yani <b> {{min30TestTime}} </b>'de, tekrar test edilmek için geri gelmeniz gerekiyor. Geri dönmeyi hatırlamanıza yardımcı olması için bu vakti not etmenizi ya da telefonunuza alarm kurmanızı öneririz.</p>
     <p>Geri döndüğünüzde lütfen ana sayfamızı ziyaret edin ve siteye geri dönen katılımcı olarak girin.</p>
     <p>Çalışma sonuçlarını geçersiz kılacağı için lütfen kelime çiftlerini tekrarlamaya çalışmayın.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Ana sayfaya dön</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 040  Italian ------------------ }}

{{else if project.p1000_040}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Istruzioni Post fase di acquisizione</h5>
     <p>
     Grazie per aver completato la prima parte dello studio. Ti chiediamo di tornare tra 55 minuti (alle <b>{{min30TestTime}}</b>) per la seguente fase del test. Ti consigliamo di prender nota di questo orario, fare una fotografia, o impostare un promemoria sul telefono per aiutarti a ricordare quando tornare.
     </p>

     <p> 
     Non serve che l’orario venga rispettato al minuto. Anche ritornare qualche minuto prima o dopo andrà bene. 
     Se non dovessi riuscire a tornare quando richiesto ti chiediamo di svolgere la fase successiva quando possibile. I tuoi risultati aiuteranno comunque la nostra ricerca. 
     </p>

     <p>Per riprendere il test ritornare alla pagina principale e accedete come partecipanti che hanno già iniziato lo studio.</p>
     <p>Ti preghiamo di non ripassare le coppie di parole in quanto ciò invaliderà i risultati della ricerca.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Ritornare alla pagina principale</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>




{{! ----------------- Institution 1000   Project 030  French ------------------ }}

{{else if project.p1000_030}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Instructions après l'apprentissage</h5>
     <p>Merci d'avoir complété la première partie de l'étude. Pour l'étape suivante, vous devez revenir dans 55 minutes, à <b> {{min30TestTime}} </b>, pour être testé à nouveau. Nous vous recommandons de noter cette heure, de prendre une photo ou de programmer une alarme sur votre téléphone pour vous rappeler de revenir.
     </p>

     <p>
     Nous n'avons pas besoin que vous commenciez exactement à l'heure ; il est acceptable d'être un peu en avance ou en retard. Si vous n'êtes pas en mesure de revenir au bon moment, veuillez effectuer le test différé dès que vous le pouvez, car vos données aideront quand même notre recherche.
     </p>

     <p>Lorsque vous revenez, visitez notre page d'accueil et entrez sur le site en tant que participant existant.</p>
     <p>N'essayez pas de répéter les paires de mots parce que cela rendrait les résultats de la recherche invalides.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Retourner à la page d'accueil</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010 ------------------ }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Videre instruksjon etter læringsdelen</h5>
     <p>Takk for at du fullførte første del av prosjektet. For den neste delen ønsker vi at du kommer tilbake om 55 minutter, <b> {{min30TestTime}} </b>, for å bli testet igjen. Vi anbefaler du skriver tiden ned, tar et bilde, eller kanskje setter en alarm på mobilen for å hjelpe deg å huske å komme tilbake i tide. </p>

     <p>
     Du trenger ikke å starte nøyaktige på det tidspunktet, det er ok om du er litt tidligere eller senere. Hvis du ikke har mulighet til å komme tilbake på det korrekte tidspunktet, håper vi du fortsatt vil ta den forsinkede testen da det uansett vil hjelpe forskning vår. 
     </p>

     <p>Når du kommer tilbake, besøk startsiden og trykk «returnerende deltaker».</p>
     <p>Ikke øv på ordparene mellom testene, da dette kan ugyldiggjøre resultatet av prosjektet. </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Gå tilbake til startside</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 009  UK Remember Positive  ------------------ }}

{{else if project.p1000_009}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_009.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 008  UK Forget Negative  ------------------ }}

{{else if project.p1000_008}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_008.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 007 UK Recognition ------------------ }}

{{else if project.p1000_007}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_007.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 006 UK CTE ------------------ }}

{{else if project.p1000_006}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_006.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 005 UK Greenwich ------------------ }}

{{else if project.p1000_005}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_005.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 004 UK EPS CVLT ------------------ }}

{{else if project.p1000_004}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 30 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_004.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 003 UK Schools ------------------ }}

{{else if project.p1000_003}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_003.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 30 minutes, at <b> {{min30TestTime}} </b>, to be tested again.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down, take a photo, or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>We don't need you to start exactly on time; it is OK to be a few minutes early or late. </p>
     <p>If you are unable to come back at the correct time please do the delayed test whenever you can as your data will still help our research.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


{{/if}}

