
{{! ----------------- Institution 1000   Project 050  Turkish  ------------------ }}

{{#if project.p1000_050}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Öğrenme Sonrası Yönergeleri</h5>
     <p>Deneyin ilk aşamasını tamamladığınız için teşekkür ederiz. Bir sonraki adım için 55 dakika sonra, yani <b> {{min30TestTime}} </b>'de, tekrar test edilmek için geri gelmeniz gerekiyor.</p>
     <p>Geri döndüğünüzde lütfen ana sayfamızı ziyaret edin ve siteye geri dönen katılımcı olarak girin.</p>
     <p>Çalışma sonuçlarını geçersiz kılacağı için lütfen kelime çiftlerini tekrarlamaya çalışmayın.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Ana sayfaya dön</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 040  Italian ------------------ }}

{{else if project.p1000_040}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Istruzioni Post fase di acquisizione</h5>
     <p>Grazie per aver completato la prima parte dello studio. Vi chiediamo di tornare tra
55 minuti alle <b>{{min30TestTime}}</b>, per la seguente fase del test.</p>
     <p>Per riprendere il test ritornare alla pagina principale e accedete come partecipanti che hanno già iniziato lo studio.</p>
     <p>Vi preghiamo di non ripassare le coppie di parole in quanto ciò invaliderà i risultati della ricerca.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Ritornare alla pagina principale</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>




{{! ----------------- Institution 1000   Project 030  French ------------------ }}

{{else if project.p1000_030}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Instructions après l'apprentissage</h5>
     <p>Merci d'avoir complété la première partie de l'étude. Pour l'étape suivante, vous devez revenir dans 55 minutes, à <b> {{min30TestTime}} </b>, pour être testé à nouveau.</p>
     <p>Lorsque vous revenez, visitez notre page d'accueil et entrez sur le site en tant que participant existant.</p>
     <p>N'essayez pas de répéter les paires de mots parce que cela rendrait les résultats de la recherche invalides.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Retourner à la page d'accueil</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010 ------------------ }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Videre instruksjon etter læringsdelen</h5>
     <p>Takk for at du fullførte første del av prosjektet. For den neste delen ønsker vi at du kommer tilbake om 55 minutter, <b> {{min30TestTime}} </b>, for å bli testet igjen. </p>
     <p>Når du kommer tilbake, besøk startsiden og trykk «returnerende deltaker».</p>
     <p>Ikke øv på ordparene mellom testene, da dette kan ugyldiggjøre resultatet av prosjektet. </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Gå tilbake til startside</a>
     </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 30 minutes, at <b> {{min30TestTime}} </b>, to be tested again.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thank you for completing the first part of the study. For the next stage we need you to come back in 55 minutes, at <b> {{min30TestTime}} </b>, to be tested again. We recommend you write this time down or perhaps set an alarm on your phone to help you remember to come back.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


{{/if}}

