
{{! ----------------- Institution 1000   Project 050  Indian English ------------------ }}

{{#if project.p1000_050}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Onay ve Gizlilik İlkeleri</h5>

     <p>Unutma Projesi çalışmaları Londra Goldsmiths Üniversitesi tarafından yürütülmektedir. Baş araştırmacı, nöropsikolog Dr. Ashok Jansari süpervizörlüğünde, doktora öğrencisi Terry McGibbon’dır.</p>

     <h5>Mevcut Çalışma Açıklaması</h5>

     <p>
     İnsanların öğrenme ve hatırlama becerileri yaşla beraber değişiklikler gösterir. Bu beceriler aynı zamanda epilepsi ve Alzheimer gibi beyinle ilişkili durumlardan da etkilenir. Bu çalışmanın amacı belleğin genel popülasyonda nasıl bir çeşitlilik gösterdiğini belirlemektir. Katılımcılardan kelime çiftlerini ezberlemeleri ve bunları daha sonra iki kez hatırlamaları istenecektir. Bu çalışma herhangi fiziksel ya da zihinsel zarara yol açmayacaktır, bu sebeple çalışmaya katılırken herhangi bir sıkıntı yaşamayacaksınız.
     </p>


     <h5>Veri Gizliliği</h5>

     <p>
      Elektronik ortamda güvende tutulacak olan verilerin tam gizliliği ve anonimliği sağlanacaktır. Yaş ve cinsiyet gibi kişisel bilgileriniz kişisel olarak tanımlanamayacak, sadece çalışmayı yürüten araştırmacılar tarafından görülecektir. Verileriniz herhangi başka bir organizasyonla paylaşılmayacak, bu çalışmadan çıkan herhangi bir rapora veya diğer yayınlara dahil edilmeyecek, çalışma tamamlandıktan sonra sadece sonuçlar saklanacaktır.
     </p>

     <h5>Geri çekilme hakkı</h5>

     <p>
     Bu çalışmaya katılmanız zorunlu değildir ve buna mecbur hissetmemelisiniz. Çalışmadan istediğiniz zaman geri çekilme hakkına sahipsiniz. Çalışmadan geri çekilmek istediğinizde herhangi bir kayba uğramadan ve bir sebep belirtmenize gerek olmadan ayrılabilirsiniz.
     </p>

     <h5>İletişim</h5>

     <p>
      Çalışmanın nasıl yürütülmekte olduğuna dair herhangi bir sorunuz veya endişeniz varsa lütfen Terry McGibbon (tmcgi001@gold.ac.uk) ya da Dr. Ashok Jansari (a.jansari@gold.ac.uk) ile iletişime geçin.
     </p>

     <h5>Feragatname</h5>

     <p>Katılımcılardan aşağıdaki feragatnameyi kabul etmelerini istiyoruz:</p>

     <p class="font-italic">18 yaş veya üzeriyim.</p>

     <p class="font-italic">Dahil olacağım çalışmanın doğası, amaçları ve işleyişini açıklayan yukarıdaki bilgilendirme yazısını okudum.</p>

     <p class="font-italic">Bu çalışmadaki katılımımın ve çalışmada elde edilecek verilerin kesinlikle gizli kalacağını anladım. Sadece çalışmada yer alan araştırmacıların kişisel verilere erişimi olacaktır. Çalışma tamamlandıktan sonra verilere ne yapılacağı bana açıklandı.</p>

     <p class="font-italic">Bana etraflıca anlatılmış olan bu çalışmaya katılmayı özgür irademle ve tamamıyla kabul ediyorum. Bu onayı vermekle beraber, kendime hiçbir zararı olmadan ve de herhangi bir açıklama yapma zorunluluğu olmadan dilediğim bir zamanda çalışmadan çekilme hakkına sahip olduğumu anladım. Ayrıca, bu çalışmadan geri çekilmem durumunda, araştırmacının anonim verilerimi bu çalışmanın raporunda ve araştırmacının gerçekleştireceği diğer analizlerde kullanma hakkını saklı tuttuğunu anladım.
     </p>


   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>




{{! ----------------- Institution 1000   Project 040 Italian  ------------------ }}

{{else if project.p1000_040}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Informativa su Consenso e Privacy</h5>

     <p>Gli studi del progetto “Dimenticanza” sono condotti dall’Universita Goldsmiths di Londra. Il responsabile della ricerca è il dottorando Terry McGibbon, sotto la supervisione del neuropsicologo Dottor Ashok Jansari.</p>

     <h5>Descrizione dello Studio</h5>

     <p>
     La capacità di consolidare e rievocare nuove informazioni varia a seconda dell’età e può essere affetta da condizioni neurologiche come l’epilessia ed il morbo di Alzhei\
mer. Il presente studio mira ad identificare come la memoria varia nella popolazione generale. Ai partecipanti è richiesto di memorizzare coppie di parole e rievocarle in man\
iera differita in due momenti distinti. La partecipazione allo studio non presenta alcun pericolo in quanto non può recare nessun tipo di danno fisico o mentale.
     </p>

     <h5>Confidenzialità dei dati</h5>

     <p>
     É garantita la totale confidenzialità e l’anonimato dei dati, la cui privacy sarà custodita elettronicamente. I vostri dati personali, quali l’età ed il sesso, saranno non-identificabili e vi avranno accesso esclusivamente i ricercatori responsabili dello studio. Queste informazioni sensibili non verranno condivise con nessuna organizzazione o incluse in alcuna pubblicazione derivante dallo studio, e solamente i risultati della ricerca verranno conservati una volta completato lo studio.
     </p>

     <h5>Diritto di ritirarsi dallo studio</h5>

     <p>
La partecipazione allo studio non è obbligatoria e non dovreste sentire alcuna pressione a farlo. Revocare il consenso alla partecipazione non vi recherà alcuno svantaggio e non ha bisogno di essere motivato.
     </p>

     <h5>Contatti</h5>

     <p>
     Se avete dubbi o domande riguardo alle modalità di esecuzione dello studio non esitate a contattare Terry McGibbon (tmcgi001@gold.ac.uk) o il Dottor Ashok Jansari (a.jansari@gold.ac.uk).
     </p>

     <h5>Dichiarazione di esclusione di responsabilità</h5>

     <p>Chiediamo ai partecipanti di accettare la seguente liberatoria:</p>

     <p class="font-italic">Sono maggiorenne (ho 18 o + anni). </p>

     <p class="font-italic">Ho letto le informazioni riguardanti la natura e lo scopo del suddetto studio di ricerca e la procedura in cui sarò coinvolto.</p>

     <p class="font-italic">
     Sono a conoscenza del fatto che il mio coinvolgimento nel suddetto studio, e i dati che ne deriveranno, rimarranno strettamente confidenziali. Solamente i ricercatori responsabili dello studio avranno accesso ai dati identificativi. Mi è stato spiegato che cosa avverrà ai dati una volta completato lo studio di ricerca.
     </p>

     <p class="font-italic">
     Con la presente acconsento espressamente e liberamente di partecipare allo studio le cui caratteristiche mi sono state ampiamente spiegate. Avendo dato il mio consenso riconosco di avere il diritto di ritirarmi dallo studio in qualsiasi momento senza alcuno svantaggio personale e senza bisogno di motivare la mia scelta. Riconosco anche che se dovessi ritirarmi il ricercatore riserva il diritto di utilizzare i miei dati resi anonimi nella pubblicazione dello studio e in qualsiasi ulteriore analisi che possa essere condotta dal ricercatore.
     </p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 030 French  ------------------ }}

{{else if project.p1000_030}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Consentement et politique de confidentialité</h5>

     <p>Les études du Projet de l'Oubli sont menées par Goldsmiths University of London. Le chercheur principal est actuellement le doctorant Terry McGibbon, sous la supervision du neuropsychologue Dr Ashok Jansari.</p>

     <h5>Description de l'étude en cours</h5>

     <p>La capacité des gens à apprendre et à se souvenir de nouvelles informations varie avec l'âge et est influencée par des maladies liées au cerveau comme l'épilepsie et la maladie d'Alzheimer. Cette étude vise à déterminer comment la mémoire varie au sein de la population générale. Les participants vont devoir mémoriser des paires de mots, et ensuite les rappeler à deux reprises. Cette étude ne causera aucun dommage physique ou mental, vous ne ressentirez donc aucune détresse en participant à cette étude. 
     </p>

     <h5>Confidentialité des données </h5>

     <p>
Les données seront totalement anonymes et confidentielles et seront conservées en toute sécurité par voie électronique. Vos données personnelles, telles que votre âge et votre sexe, ne seront pas identifiables et ne seront visibles que par les chercheurs qui mènent l'étude. Ces informations ne seront pas partagées avec d'autres organisations et ne seront pas incluses dans un rapport ou d'autres publications découlant de l'étude. Seuls les résultats seront conservés une fois l'étude terminée. 
     </p>

     <h5>Droit de retrait </h5>

     <p>
Vous n'êtes pas obligé de participer à cette étude et ne devez pas vous sentir contraint. Vous êtes libre de vous retirer à tout moment. Si vous décidez de vous retirer de l'étude, vous pouvez le faire sans que cela ne vous nuise et sans avoir à donner une raison. 
     </p>

     <h5>Contacts</h5>

     <p>
Si vous avez des questions ou des remarques sur la manière dont l'étude a été menée, veuillez contacter Terry McGibbon (tmcgi001@gold.ac.uk) ou Dr Ashok Jansari (a.jansari@gold.ac.uk) 
     </p>

     <h5>Clause de non-responsabilité </h5>

     <p>Nous demandons aux participants d'accepter la clause de non-responsabilité suivante :</p>

     <p class="font-italic">J’ai 18 ans ou plus. </p>

     <p class="font-italic">J'ai pris connaissance des informations relatives à l'étude de recherche ci-dessus, qui m'ont expliqué la nature et les objectifs de la recherche, ainsi que la procédure dans laquelle je serai impliqué.
   </p>

     <p class="font-italic">
Je comprends que ma participation à cette étude, et les données issues de cette recherche, resteront strictement confidentielles. Seuls les chercheurs impliqués dans l'étude auront accès aux données d'identification. On m’a expliqué ce qu'il adviendra des données une fois l'étude terminée.
    </p>

     <p class="font-italic">
Par la présente, je consens librement et pleinement à participer à l'étude qui m'a été expliquée en détail. Ayant donné ce consentement, je comprends que j'ai le droit de me retirer de l'étude à tout moment sans que cela ne me nuise et sans être obligé de donner une quelconque raison. Je comprends également que si je me retire, le chercheur se réserve le droit d'utiliser mes données entièrement anonymisées dans la rédaction de l'étude et dans toute analyse ultérieure qu'il pourrait effectuer.
    </p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Consent & Privacy Policy</h5>

     <p>The Forgetting Project studies are being conducted by Goldsmiths University of London. The lead researcher is currently PhD student Terry McGibbon, under the supervision of neuropsychologist Dr Ashok Jansari.</p>

     <h5>Current Study Description</h5>

     <p>People's ability to learn and recall new information varies with age, and is influenced by brain related conditions such as epilepsy and Alzheimer's disease. This study aims to identify how memory varies within the general population.

Participants are required to memorise pairs of words, and recall them at two later times.

This study will not cause any physical or mental harm, so you will not experience any distress whilst participating in this study.
     </p>

     <h5>Data Confidentiality</h5>

     <p>
There is complete anonymity and confidentiality of the data, which will be kept safe electronically. Your personal details such as age and gender will be personally unidentifiable and only seen by the researchers conducting the study. This information will not be shared with any other organisation, and will not be included in any report or other publications arising from the study, and only the results will be kept after the study is completed.
     </p>

     <h5>Right to withdraw</h5>

     <p>
You are not obliged to take part in this study and should not feel coerced. You are free to withdraw at any time. Should you choose to withdraw from the study you may do so without disadvantage to yourself and without any obligation to give a reason.
     </p>

     <h5>Contacts</h5>

     <p>
If you have any questions or concerns about how the study has been conducted, please contact Terry McGibbon (tmcgi001@gold.ac.uk) or Dr Ashok Jansari (a.jansari@gold.ac.uk)
     </p>

     <h5>Disclaimer</h5>

     <p>We ask participants to agree to the following disclaimer:</p>

     <p class="font-italic">I am aged 18 or over. </p>

     <p class="font-italic">I have the read the information relating to the above research study, which has explained the nature and purposes of the research, and the procedure I will be involved in.</p>

     <p class="font-italic">I understand that my involvement in this study, and particular data from this research, will remain strictly confidential. Only the researchers involved in the study will have access to identifying data. It has been explained to me what will happen to data once the research study has been completed.</p>

     <p class="font-italic">I hereby freely and fully consent to participate in the study which has been fully explained to me. Having given this consent I understand that I have the right to withdraw from the study at any time without disadvantage to myself and without being obliged to give any reason. I also understand that should I withdraw, the researcher reserves the right to use my fully anonymised data in the write-up of the study and in any further analysis that may be conducted by the researcher.</p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 010 Norwegian  ------------------ }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Samtykkeerklæring og personvern</h5>

     <p>Hukommelsesprosjektet blir gjennomført av Goldsmiths University of London. Ledende forsker er PhD studenten Terry McGibbon, under tilsyn av nevropsykologen Dr Ashok Jansari.</p>

     <h5>Om prosjektet </h5>

     <p>En persons evne til å lære og minnes ny informasjon varierer med alder, og blir påvirket av hjernerelaterte forhold sånn som epilepsi og Alzheimers sykdom. Prosjektets mål er å identifisere hvordan minne varierer i den generelle befolkningen. Deltakere skal memorere ordpar, og huske de ved to andre tidspunkt. Prosjektet vil ikke medføre noen fysisk eller psykisk skader, så du vil ikke oppleve noe ubehag når du deltar i prosjektet.
     </p>

     <h5>Personvern</h5>

     <p>
Det er fullstendig anonymitet og konfidensialitet av data vi samler, og det vil bli holdt sikkert elektronisk. Din personlige data som alder og kjønn vil være uidentifiserbart, og vil bare bli sett av forskerne som er ansvarlig for studie. Denne informasjonen vil ikke bli delt med andre organisasjoner, og vil ikke bli inkludert i noen rapporter eller andre publikasjoner som forekommer av prosjektet. Bare resultatet vil bli tatt være på etter prosjektet er fullført.
     </p>

     <h5>Rett til å trekke seg</h5>

     <p>
Det er frivillig å delta i prosjektet og skal ikke føles som tvang. Du kan når som helst trekke ditt samtykke. Hvis du velger å trekke deg, kan du gjøre så uten noen konsekvenser og uten å oppgi en grunn.
     </p>

     <h5>Kontakter</h5>

     <p>
Hvis du har noen spørsmål eller bekymringer om hvordan prosjektet blir gjennomført kan du ta kontakt med Terry McGibbon (tmcgi001@gold.ac.uk) eller Dr Ashok Jansari (a.jansari@gold.ac.uk)
     </p>

     <h5>Ansvarsfraskrivelse</h5>

     <p>Vi spør deltakerne om å akseptere den følgende ansvarsfraskrivelsen: </p>

     <p class="font-italic">Jeg er 18 år eller eldre.</p>

     <p class="font-italic">Jeg har lest informasjonen som relaterer til prosjektet, som har beskrevet formålet og prosedyren jeg vil være en del av. </p>

     <p class="font-italic">Jeg forstår at min deltakelse i prosjektet, og innhentet data, vil være strengt konfidensielt. Bare forskerne involvert i prosjektet vil ha tilgang til identifiserbar data. Det har blitt forklart til meg hva dataen fra prosjektet, når fullført, vil bli brukt til.</p>

     <p class="font-italic">Herved samtykker jeg til å delta i prosjektet som har blitt forklart til meg. Selv om jeg har gitt mitt samtykke forstår jeg at jeg har rett til å trekke meg fra prosjektet når som helst uten noen konsekvenser til meg selv, og uten å måtte gi en grunn. Jeg forstår også at om jeg skulle trekke meg, har forskerne reservert rett til å bruke den anonymiserte dataen i analyse og rapport.</p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Consent & Privacy Policy</h5>

     <p>The Forgetting Project studies are being conducted by Goldsmiths University of London. The lead researcher is currently PhD student Terry McGibbon, under the supervision of neuropsychologist Dr Ashok Jansari.</p>

     <h5>Current Study Description</h5>

     <p>People's ability to learn and recall new information varies with age, and is influenced by brain related conditions such as epilepsy and Alzheimer's disease. This study aims to identify how memory varies within the general population.

Participants are required to memorise pairs of words, and recall them at two later times.

This study will not cause any physical or mental harm, so you will not experience any distress whilst participating in this study.
     </p>

     <h5>Data Confidentiality</h5>

     <p>
There is complete anonymity and confidentiality of the data, which will be kept safe electronically. Your personal details such as age and gender will be personally unidentifiable and only seen by the researchers conducting the study. This information will not be shared with any other organisation, and will not be included in any report or other publications arising from the study, and only the results will be kept after the study is completed.
     </p>

     <h5>Right to withdraw</h5>

     <p>
You are not obliged to take part in this study and should not feel coerced. You are free to withdraw at any time. Should you choose to withdraw from the study you may do so without disadvantage to yourself and without any obligation to give a reason.
     </p>

     <h5>Contacts</h5>

     <p>
If you have any questions or concerns about how the study has been conducted, please contact Terry McGibbon (tmcgi001@gold.ac.uk) or Dr Ashok Jansari (a.jansari@gold.ac.uk)
     </p>

     <h5>Disclaimer</h5>

     <p>We ask participants to agree to the following disclaimer:</p>

     <p class="font-italic">I am aged 18 or over. </p>

     <p class="font-italic">I have the read the information relating to the above research study, which has explained the nature and purposes of the research, and the procedure I will be involved in.</p>

     <p class="font-italic">I understand that my involvement in this study, and particular data from this research, will remain strictly confidential. Only the researchers involved in the study will have access to identifying data. It has been explained to me what will happen to data once the research study has been completed.</p>

     <p class="font-italic">I hereby freely and fully consent to participate in the study which has been fully explained to me. Having given this consent I understand that I have the right to withdraw from the study at any time without disadvantage to myself and without being obliged to give any reason. I also understand that should I withdraw, the researcher reserves the right to use my fully anonymised data in the write-up of the study and in any further analysis that may be conducted by the researcher.</p>

   </div>
</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Consent & Privacy Policy</h5>

     <p>The Forgetting Project studies are being conducted by Goldsmiths University of London. The lead researcher is currently PhD student Terry McGibbon, under the supervision of neuropsychologist Dr Ashok Jansari.</p>

     <h5>Current Study Description</h5>

     <p>People's ability to learn and recall new information varies with age, and is influenced by brain related conditions such as epilepsy and Alzheimer's disease. This study aims to identify how memory varies within the general population.

Participants are required to memorise pairs of words, and recall them at two later times.

This study will not cause any physical or mental harm, so you will not experience any distress whilst participating in this study.
     </p>

     <h5>Data Confidentiality</h5>

     <p>
There is complete anonymity and confidentiality of the data, which will be kept safe electronically. Your personal details such as age and gender will be personally unidentifiable and only seen by the researchers conducting the study. This information will not be shared with any other organisation, and will not be included in any report or other publications arising from the study, and only the results will be kept after the study is completed.
     </p>

     <h5>Right to withdraw</h5>

     <p>
You are not obliged to take part in this study and should not feel coerced. You are free to withdraw at any time. Should you choose to withdraw from the study you may do so without disadvantage to yourself and without any obligation to give a reason.
     </p>

     <h5>Contacts</h5>

     <p>
If you have any questions or concerns about how the study has been conducted, please contact Terry McGibbon (tmcgi001@gold.ac.uk) or Dr Ashok Jansari (a.jansari@gold.ac.uk)
     </p>

     <h5>Disclaimer</h5>

     <p>We ask participants to agree to the following disclaimer:</p>

     <p class="font-italic">I am aged 18 or over. </p>

     <p class="font-italic">I have the read the information relating to the above research study, which has explained the nature and purposes of the research, and the procedure I will be involved in.</p>

     <p class="font-italic">I understand that my involvement in this study, and particular data from this research, will remain strictly confidential. Only the researchers involved in the study will have access to identifying data. It has been explained to me what will happen to data once the research study has been completed.</p>

     <p class="font-italic">I hereby freely and fully consent to participate in the study which has been fully explained to me. Having given this consent I understand that I have the right to withdraw from the study at any time without disadvantage to myself and without being obliged to give any reason. I also understand that should I withdraw, the researcher reserves the right to use my fully anonymised data in the write-up of the study and in any further analysis that may be conducted by the researcher.</p>

   </div>
</div>


{{/if}}