

{{! ----------------- Institution 1000   Project 060  Polish ------------------ }}

{{#if project.p1000_060}}

<div class="row justify-content-center">
<div class="col-10 ">


<div>

     <h5 class="pt-3">Dane demograficzne</h5>
     <p>Poniższe informacje zostaną wykorzystane do określenia tego, w jaki sposób procesy pamięci i zapominania zmieniają się w ogólnej populacji.</p>

</div>

<form action="/demographics?form=demographics" method="POST">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>

  <div class="form-group row">
    <label for="inputAge" class="col-sm-3 col-form-label text-left">Wiek</label>
    <div class="col-auto">
    <select class="form-control" id="inputAge" name="age" required>
      <option>18</option>
      <option>19</option>
      <option selected>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
      <option>34</option>
      <option>35</option>
      <option>36</option>
      <option>37</option>
      <option>38</option>
      <option>39</option>
      <option>40</option>
      <option>41</option>
      <option>42</option>
      <option>43</option>
      <option>44</option>
      <option>45</option>
      <option>46</option>
      <option>47</option>
      <option>48</option>
      <option>49</option>
      <option>50</option>
      <option>51</option>
      <option>52</option>
      <option>53</option>
      <option>54</option>
      <option>55</option>
      <option>56</option>
      <option>57</option>
      <option>58</option>
      <option>59</option>
      <option>60</option>
      <option>61</option>
      <option>62</option>
      <option>63</option>
      <option>64</option>
      <option>65</option>
      <option>66</option>
      <option>67</option>
      <option>68</option>
      <option>69</option>
      <option>70</option>
      <option>71</option>
      <option>72</option>
      <option>73</option>
      <option>74</option>
      <option>75</option>
      <option>76</option>
      <option>77</option>
      <option>78</option>
      <option>79</option>
      <option>80</option>
      <option>81</option>
      <option>82</option>
      <option>83</option>
      <option>84</option>
      <option>85</option>
      <option>86</option>
      <option>87</option>
      <option>88</option>
      <option>89</option>
      <option>90</option>
      <option>91</option>
      <option>92</option>
      <option>93</option>
      <option>94</option>
      <option>95</option>
      <option>96</option>
      <option>97</option>
      <option>99</option>
      <option>100</option>
      <option>powyżej 100</option>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputGender" class="col-sm-3 col-form-label text-left">Płeć</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputGender" name="gender" required>
      	 	<option selected>Kobieta</option>
		<option>Mężczyzna</option>
		<option>Inna</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEducation" class="col-sm-3 col-form-label text-left">Wykształcenie</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEducation" name="education" required>
                <option>Szkoła podstawowa i/lub gimnazjum</option>
                <option>Szkoła zawodowa</option>
                <option selected>Liceum</option>
                <option>Technikum</option>
                <option>Ukończona matura</option>
                <option>Licencjat</option>
                <option>Magister</option>
                <option>Doktor</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEnglish" class="col-sm-3 col-form-label text-left">Znajomość języka polskiego</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEnglish" name="english" required>
      	 	<option selected>Język ojczysty</option>
		<option>Płynny</option>
		<option>Komunikatywny</option>
		<option>Przeciętny</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputNationality" class="col-sm-3 col-form-label text-left">Narodowość</label>
    <div class="col-auto">
    	 <select class="form-control bfh-countries" style="width:250px;" data-country="PL" id="inputNationality" name="nationality" required></select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputMedcial" class="col-sm-4 col-form-label text-left">Czy u Pana/i zdiagnozowano jakieś zaburzenia lub choroby, które mogą wpływać na pamięć?</label>
    <div class="col-auto">
         <select class="form-control" id="inputMedical" name="medical" required>
                <option selected>Nie</option>
                <option>Tak, demencję</option>
                <option>Tak, padaczkę</option>
                <option>Tak, udar mózgu</option>
                <option>Tak, która zakończyła się operacją mózgu</option>
                <option>Tak, poważny uraz głowy / Tak, uraz głowy z utratą przytomności</option>
                <option>Tak, inne</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputDyslexia" class="col-sm-4 col-form-label text-left"> Czy u Pana/i zdiagnozowano jakieś zaburzenia uczenia się (np. dysleksję)?</label>
    <div class="col-auto">
         <select class="form-control" id="inputDyslexia" name="dyslexia" required>
                <option selected>Nie</option>
                <option>Tak</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputProblems" class="col-sm-4 col-form-label text-left">Czy u Pana/i występują jakieś problemy z pamięcią lub nadmierne zapominanie?</label>
    <div class="col-auto">
         <select class="form-control" id="inputProblems" name="problems" required>
                <option selected>Nie</option>
                <option>Nie wiem</option>
                <option>Tak, ale rzadko</option>
                <option>Tak, czasami</option>
                <option>Tak, często</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputOthersComparison" class="col-sm-4 col-form-label text-left">Jak Pan/i ocenia swoją pamięć w porównaniu do innych osób w podobnym wieku?</label>
    <div class="col-auto">
         <select class="form-control" id="inputOthersComparison" name="othersComparison" required>
                <option selected>Moja pamięć jest taka sama lub lepsza</option>
                <option>Moja pamięć jest raczej gorsza</option>
                <option>Moja pamięć jest znacznie gorsza</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputSelfComparison" class="col-sm-4 col-form-label text-left">Jak Pan/i ocenia swoją pamięć w porównaniu do tego jak był Pan/i młodszy/a?
Jak Pani/i ocenia swoją pamięć dzisiaj w porównaniu do tego jak było kiedyś?</label>
    <div class="col-auto">
         <select class="form-control" id="inputSelfComparison" name="selfComparison" required>
                <option selected>Moja pamięć jest taka sama lub lepsza</option>
                <option>Moja pamięć jest raczej gorsza</option>
                <option>Moja pamięć jest znacznie gorsza</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputConversation" class="col-sm-4 col-form-label text-left">Czy zdarza się Panu/i zapominać to, o czym przed chwilą Pan/i czytał/a lub rozmawiał/a?</label>
    <div class="col-auto">
         <select class="form-control" id="inputConversation" name="conversation" required>
                <option selected>Rzadko lub nigdy</option>
                <option>Czasami</option>
                <option>Często</option>
                </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputRating" class="col-sm-4 col-form-label text-left">Prosimy ocenić swoją pamięć na skali od 1 do 10 (1 = najgorsza, 10 = najlepsza).</label>
    <div class="col-auto">
    <select class="form-control" id="inputRating" name="rating" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option selected>10</option>
    </select>
    </div>
  </div>



<div class="text-center">
  <button type="submit" class="btn btn-primary">Dalej</button>
</div>

</form>


</div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 050  Turkish  ------------------ }}

{{else if project.p1000_050}}

<div class="row justify-content-center">
<div class="col-10 ">


<div>

     <h5 class="pt-3">Demografik bilgiler</h5>
     <p>Aşağıdaki bilgiler belleğin genel popülasyondaki farklı gruplarda nasıl çeşitlilik gösterdiğini incelemek için kullanılacaktır.</p>

</div>

<form action="/demographics?form=demographics" method="POST">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>

  <div class="form-group row">
    <label for="inputAge" class="col-sm-3 col-form-label text-left">Yaş</label>
    <div class="col-auto">
    <select class="form-control" id="inputAge" name="age" required>
      <option>18</option>
      <option>19</option>
      <option selected>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
      <option>34</option>
      <option>35</option>
      <option>36</option>
      <option>37</option>
      <option>38</option>
      <option>39</option>
      <option>40</option>
      <option>41</option>
      <option>42</option>
      <option>43</option>
      <option>44</option>
      <option>45</option>
      <option>46</option>
      <option>47</option>
      <option>48</option>
      <option>49</option>
      <option>50</option>
      <option>51</option>
      <option>52</option>
      <option>53</option>
      <option>54</option>
      <option>55</option>
      <option>56</option>
      <option>57</option>
      <option>58</option>
      <option>59</option>
      <option>60</option>
      <option>61</option>
      <option>62</option>
      <option>63</option>
      <option>64</option>
      <option>65</option>
      <option>66</option>
      <option>67</option>
      <option>68</option>
      <option>69</option>
      <option>70</option>
      <option>71</option>
      <option>72</option>
      <option>73</option>
      <option>74</option>
      <option>75</option>
      <option>76</option>
      <option>77</option>
      <option>78</option>
      <option>79</option>
      <option>80</option>
      <option>81</option>
      <option>82</option>
      <option>83</option>
      <option>84</option>
      <option>85</option>
      <option>86</option>
      <option>87</option>
      <option>88</option>
      <option>89</option>
      <option>90</option>
      <option>91</option>
      <option>92</option>
      <option>93</option>
      <option>94</option>
      <option>95</option>
      <option>96</option>
      <option>97</option>
      <option>99</option>
      <option>100</option>
      <option>100 üzeri</option>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputGender" class="col-sm-3 col-form-label text-left">Cinsiyet</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputGender" name="gender" required>
      	 	<option selected>Kadın</option>
		<option>Erkek</option>
		<option>Diğer</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEducation" class="col-sm-3 col-form-label text-left">Tamamlanmış en yüksek eğitim seviyesi</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEducation" name="education" required>
                <option>İlkokul</option>
                <option>Ortaokul</option>
                <option selected>Lise</option>
                <option>Meslek lisesi</option>
                <option>Meslek Yüksek Okulu</option>
                <option>Üniversite</option>
                <option>Yüksek lisans</option>
                <option>Doktora</option>
                </select>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEnglish" class="col-sm-3 col-form-label text-left">Türkçe seviyesi</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEnglish" name="english" required>
      	 	<option selected>Ana dil</option>
		<option>Akıcı</option>
		<option>Konuşma seviyesinde</option>
		<option>Konuşma seviyesinin altında</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputNationality" class="col-sm-3 col-form-label text-left">Uyruk</label>
    <div class="col-auto">
    	 <select class="form-control bfh-countries" style="width:250px;" data-country="TR" id="inputNationality" name="nationality" required></select>
    </div>
  </div>



  <div class="form-group row align-items-center">
    <label for="inputMedcial" class="col-sm-4 col-form-label text-left">Hafızanızı etkileyebilecek teşhis edilmiş herhangi bir tıbbi rahatsızlığınız var mı?</label>
    <div class="col-auto">
         <select class="form-control" id="inputMedical" name="medical" required>
                <option selected>Hayır</option>
                <option>Evet, demans</option>
                <option>Evet, epilepsy</option>
                <option>Evet, felç</option>
                <option>Evet, beyin ameliyatı</option>
                <option>Evet, önemli beyin travması</option>
                <option>Evet, diğer</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputDyslexia" class="col-sm-4 col-form-label text-left">Herhangi bir okuma probleminiz var mı, mesela disleksi?</label>
    <div class="col-auto">
         <select class="form-control" id="inputDyslexia" name="dyslexia" required>
                <option selected>Hayır</option>
                <option>Evet</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputProblems" class="col-sm-4 col-form-label text-left">Herhangi bir hafıza problemi veya ‘unutkanlık’ yaşıyor musunuz?</label>
    <div class="col-auto">
         <select class="form-control" id="inputProblems" name="problems" required>
                <option selected>Hayır</option>
                <option>Bilmiyorum</option>
                <option>Evet, nadiren</option>
                <option>Evet, bazen</option>
                <option>Evet, sıklıkla</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputOthersComparison" class="col-sm-4 col-form-label text-left">Yaşıtınız olan diğer insanlara kıyasla hafızanızın nasıl olduğunu düşünüyorsunuz?</label>
    <div class="col-auto">
         <select class="form-control" id="inputOthersComparison" name="othersComparison" required>
                <option selected>Aynı veya daha iyi</option>
                <option>Biraz daha kötü</option>
                <option>Çok daha kötü</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputSelfComparison" class="col-sm-4 col-form-label text-left">Gençliğinize kıyasla hafızanızın nasıl olduğunu düşünüyorsunuz?</label>
    <div class="col-auto">
         <select class="form-control" id="inputSelfComparison" name="selfComparison" required>
                <option selected>Aynı veya daha iyi</option>
                <option>Biraz daha kötü</option>
                <option>Çok daha kötü</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputConversation" class="col-sm-4 col-form-label text-left">Yeni okuduğunuz veya bir sohbette henüz duyduğunuz bir şeyi unuttuğunuz olur mu?</label>
    <div class="col-auto">
         <select class="form-control" id="inputConversation" name="conversation" required>
                <option selected>Nadiren/Asla</option>
                <option>Bazen</option>
                <option>Sıklıkla</option>
                </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputRating" class="col-sm-4 col-form-label text-left">Hafızanızı 1 en kötü ve 10 en iyi olmak üzere 1 ila 10 arasında değerlendirin.</label>
    <div class="col-auto">
    <select class="form-control" id="inputRating" name="rating" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option selected>10</option>
    </select>
    </div>
  </div>



<div class="text-center">
  <button type="submit" class="btn btn-primary">İleri</button>
</div>

</form>


</div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 040  Italian  ------------------ }}

{{else if project.p1000_040}}

<div class="row justify-content-center">
<div class="col-10 ">


<div>

     <h5 class="pt-3">Dati demografici</h5>
     <p>I seguenti dati verranno utilizzati per investigare come varia la memoria di diverse categorie di persone all’interno della popolazione generale.</p>

</div>

<form action="/demographics?form=demographics" method="POST">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>

  <div class="form-group row">
    <label for="inputAge" class="col-sm-3 col-form-label text-left">Età</label>
    <div class="col-auto">
    <select class="form-control" id="inputAge" name="age" required>
      <option>18</option>
      <option>19</option>
      <option selected>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
      <option>34</option>
      <option>35</option>
      <option>36</option>
      <option>37</option>
      <option>38</option>
      <option>39</option>
      <option>40</option>
      <option>41</option>
      <option>42</option>
      <option>43</option>
      <option>44</option>
      <option>45</option>
      <option>46</option>
      <option>47</option>
      <option>48</option>
      <option>49</option>
      <option>50</option>
      <option>51</option>
      <option>52</option>
      <option>53</option>
      <option>54</option>
      <option>55</option>
      <option>56</option>
      <option>57</option>
      <option>58</option>
      <option>59</option>
      <option>60</option>
      <option>61</option>
      <option>62</option>
      <option>63</option>
      <option>64</option>
      <option>65</option>
      <option>66</option>
      <option>67</option>
      <option>68</option>
      <option>69</option>
      <option>70</option>
      <option>71</option>
      <option>72</option>
      <option>73</option>
      <option>74</option>
      <option>75</option>
      <option>76</option>
      <option>77</option>
      <option>78</option>
      <option>79</option>
      <option>80</option>
      <option>81</option>
      <option>82</option>
      <option>83</option>
      <option>84</option>
      <option>85</option>
      <option>86</option>
      <option>87</option>
      <option>88</option>
      <option>89</option>
      <option>90</option>
      <option>91</option>
      <option>92</option>
      <option>93</option>
      <option>94</option>
      <option>95</option>
      <option>96</option>
      <option>97</option>
      <option>99</option>
      <option>100</option>
      <option>Più di 100</option>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputGender" class="col-sm-3 col-form-label text-left">Sesso</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputGender" name="gender" required>
      	 	<option selected>Femmina</option>
		<option>Maschio</option>
		<option>Altro</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEducation" class="col-sm-3 col-form-label text-left">Livello di istruzione (maggiore) completato</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEducation" name="education" required>
                <option>Scuola Primaria</option>
                <option>Liceo</option>
                <option selected>Diploma di Scuola Superiore</option>
                <option>Diploma Tecnico o Commerciale</option>
                <option>Altro diploma</option>
                <option>Laurea Triennale</option>
                <option>Laurea Magistrale o Master</option>
                <option>Dottorato di Ricerca</option>
                </select>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEnglish" class="col-sm-3 col-form-label text-left">Livello di Lingua Italiana</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEnglish" name="english" required>
      	 	<option selected>Madrelingua</option>
		<option>Fluente</option>
		<option>Colloquiale</option>
		<option>Al di sotto del livello colloquiale</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputNationality" class="col-sm-3 col-form-label text-left">Nazionalità</label>
    <div class="col-auto">
    	 <select class="form-control bfh-countries" style="width:250px;" data-country="IT" id="inputNationality" name="nationality" required></select>
    </div>
  </div>



  <div class="form-group row align-items-center">
    <label for="inputMedcial" class="col-sm-4 col-form-label text-left">Indicare se vi è stata diagnosticata una condizione che possa influire sulla vostra memoria</label>
    <div class="col-auto">
         <select class="form-control" id="inputMedical" name="medical" required>
                <option selected>No</option>
                <option>Si, demenza</option>
                <option>Si, epilessia</option>
                <option>Si, ho avuto un ictus</option>
                <option>Si, ho subìto un’operazione al cervello</option>
                <option>Si, ho subìto un trauma cranico</option>
                <option>Si, altro</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputDyslexia" class="col-sm-4 col-form-label text-left">Avete un disturbo specifico del linguaggio, come la dislessia?</label>
    <div class="col-auto">
         <select class="form-control" id="inputDyslexia" name="dyslexia" required>
                <option selected>No</option>
                <option>Si</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputProblems" class="col-sm-4 col-form-label text-left">Soffrite di difficoltà mnemoniche o di smemoratezza?</label>
    <div class="col-auto">
         <select class="form-control" id="inputProblems" name="problems" required>
                <option selected>No</option>
                <option>Non lo so</option>
                <option>Si, ma raramente</option>
                <option>Si, occasionalmente</option>
                <option>Si, spesso</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputOthersComparison" class="col-sm-4 col-form-label text-left">Come considerate la vostra memoria rispetto a quella dei vostri coetanei?</label>
    <div class="col-auto">
         <select class="form-control" id="inputOthersComparison" name="othersComparison" required>
                <option selected>Uguale o migliore</option>
                <option>Un pò peggiore</option>
                <option>Molto peggiore</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputSelfComparison" class="col-sm-4 col-form-label text-left">Come considerate la vostra memoria rispetto a quando eravate più giovani?</label>
    <div class="col-auto">
         <select class="form-control" id="inputSelfComparison" name="selfComparison" required>
                <option selected>Uguale o migliore</option>
                <option>Un pò peggiore</option>
                <optionMolto peggiore</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputConversation" class="col-sm-4 col-form-label text-left">Vi capita di dimenticare ciò che avete appena letto o sentito in una conversazione?</label>
    <div class="col-auto">
         <select class="form-control" id="inputConversation" name="conversation" required>
                <option selected>Raramente/Mai</option>
                <option>Occasionalmente</option>
                <option>Spesso</option>
                </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputRating" class="col-sm-4 col-form-label text-left">Valutate la vostra memoria su una scala da 1 a 10 (da 1= pessima a 10 = ottima).</label>
    <div class="col-auto">
    <select class="form-control" id="inputRating" name="rating" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option selected>10</option>
    </select>
    </div>
  </div>



<div class="text-center">
  <button type="submit" class="btn btn-primary">Pagina successiva</button>
</div>

</form>


</div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>




{{! ----------------- Institution 1000   Project 030  French  ------------------ }}

{{else if project.p1000_030}}

<div class="row justify-content-center">
<div class="col-10 ">


<div>

     <h5 class="pt-3">Informations démographiques</h5>
     <p>Les informations suivantes seront utilisées pour étudier comment la mémoire varie pour différents groupes au sein de la population générale. 
     </p>

</div>

<form action="/demographics?form=demographics" method="POST">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>

  <div class="form-group row">
    <label for="inputAge" class="col-sm-3 col-form-label text-left">Âge</label>
    <div class="col-auto">
    <select class="form-control" id="inputAge" name="age" required>
      <option>18</option>
      <option>19</option>
      <option selected>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
      <option>34</option>
      <option>35</option>
      <option>36</option>
      <option>37</option>
      <option>38</option>
      <option>39</option>
      <option>40</option>
      <option>41</option>
      <option>42</option>
      <option>43</option>
      <option>44</option>
      <option>45</option>
      <option>46</option>
      <option>47</option>
      <option>48</option>
      <option>49</option>
      <option>50</option>
      <option>51</option>
      <option>52</option>
      <option>53</option>
      <option>54</option>
      <option>55</option>
      <option>56</option>
      <option>57</option>
      <option>58</option>
      <option>59</option>
      <option>60</option>
      <option>61</option>
      <option>62</option>
      <option>63</option>
      <option>64</option>
      <option>65</option>
      <option>66</option>
      <option>67</option>
      <option>68</option>
      <option>69</option>
      <option>70</option>
      <option>71</option>
      <option>72</option>
      <option>73</option>
      <option>74</option>
      <option>75</option>
      <option>76</option>
      <option>77</option>
      <option>78</option>
      <option>79</option>
      <option>80</option>
      <option>81</option>
      <option>82</option>
      <option>83</option>
      <option>84</option>
      <option>85</option>
      <option>86</option>
      <option>87</option>
      <option>88</option>
      <option>89</option>
      <option>90</option>
      <option>91</option>
      <option>92</option>
      <option>93</option>
      <option>94</option>
      <option>95</option>
      <option>96</option>
      <option>97</option>
      <option>99</option>
      <option>100</option>
      <option>plus de 100</option>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputGender" class="col-sm-3 col-form-label text-left">Genre</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputGender" name="gender" required>
      	 	<option selected>Femelle</option>
		<option>Mȃle</option>
		<option>Autre</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEducation" class="col-sm-3 col-form-label text-left">Niveau d'éducation atteint le plus élevé</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEducation" name="education" required>
                <option>École Primaire</option>
                <option>Collège</option>
                <option selected>Lycée</option>
                <option>Certificat technique ou commercial</option>
                <option>Diplôme</option>
                <option>Licence</option>
                <option>Maîtrise</option>
                <option>Doctorat, PhD</option>
                </select>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEnglish" class="col-sm-3 col-form-label text-left">Niveau de Français</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEnglish" name="english" required>
      	 	<option selected>Première langue</option>
		<option>Parle couramment</option>
		<option>Conversationnel</option>
		<option>Inférieur au niveau conversationnel</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputNationality" class="col-sm-3 col-form-label text-left">Nationalité</label>
    <div class="col-auto">
    	 <select class="form-control bfh-countries" style="width:250px;" data-country="FR" id="inputNationality" name="nationality" required></select>
    </div>
  </div>


  <div class="form-group row align-items-center">
    <label for="inputMedcial" class="col-sm-4 col-form-label text-left">Avez-vous un ou plusieurs problèmes médicaux diagnostiqués qui pourraient affecter votre mémoire?</label>
    <div class="col-auto">
         <select class="form-control" id="inputMedical" name="medical" required>
                <option selected>Non</option>
                <option>Oui, la démence</option>
                <option>Oui, l'épilepsie</option>
                <option>Oui, accident vasculaire cérébral</option>
                <option>Oui, chirurgie cérébrale</option>
                <option>Oui, une lésion cérébrale importante</option>
                <option>Oui, autre</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputDyslexia" class="col-sm-4 col-form-label text-left">Avez-vous des problèmes de lecture, par exemple de dyslexie?</label>
    <div class="col-auto">
         <select class="form-control" id="inputDyslexia" name="dyslexia" required>
                <option selected>Non</option>
                <option>Oui</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputProblems" class="col-sm-4 col-form-label text-left">Souffrez-vous de problèmes de mémoire ou d'oubli?</label>
    <div class="col-auto">
         <select class="form-control" id="inputProblems" name="problems" required>
                <option selected>Non</option>
                <option>Je ne sais pas</option>
                <option>Oui, mais rarement</option>
                <option>Oui, occasionnellement</option>
                <option>Oui, fréquemment</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputOthersComparison" class="col-sm-4 col-form-label text-left">Comment pensez-vous que votre mémoire se compare à celle d'autres personnes de votre âge?</label>
    <div class="col-auto">
         <select class="form-control" id="inputOthersComparison" name="othersComparison" required>
                <option selected>Pareil ou meilleur</option>
                <option>Un peu moins bien</option>
                <option>Bien pire</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputSelfComparison" class="col-sm-4 col-form-label text-left">Comment pensez-vous que votre mémoire se compare à celle de votre jeunesse?</label>
    <div class="col-auto">
         <select class="form-control" id="inputSelfComparison" name="selfComparison" required>
                <option selected>Pareil ou meilleur</option>
                <option>Un peu moins bien</option>
                <option>Bien pire</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputConversation" class="col-sm-4 col-form-label text-left">Oubliez-vous ce que vous venez de lire ou d'entendre dans une conversation?</label>
    <div class="col-auto">
         <select class="form-control" id="inputConversation" name="conversation" required>
                <option selected>Rarement/Jamais</option>
                <option>Occasionnellement</option>
                <option>Fréquemment</option>
                </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputRating" class="col-sm-4 col-form-label text-left">Evaluez votre mémoire sur une échelle de 1 à 10, avec 1 pour le pire et 10 pour le meilleur.</label>
    <div class="col-auto">
    <select class="form-control" id="inputRating" name="rating" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option selected>10</option>
    </select>
    </div>
  </div>



<div class="text-center">
  <button type="submit" class="btn btn-primary">Suivant</button>
</div>

</form>


</div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div class="row justify-content-center">
<div class="col-10 ">


<div>

     <h5 class="pt-3">Demographic information</h5>
     <p>The following information will be used to investigate how memory varies for different groups within the general population.</p>

</div>

<form action="/demographics?form=demographics" method="POST">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>

  <div class="form-group row">
    <label for="inputAge" class="col-sm-3 col-form-label text-left">Age</label>
    <div class="col-auto">
    <select class="form-control" id="inputAge" name="age" required>
      <option>16</option>
      <option>17</option>
      <option>18</option>
      <option>19</option>
      <option selected>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
      <option>34</option>
      <option>35</option>
      <option>36</option>
      <option>37</option>
      <option>38</option>
      <option>39</option>
      <option>40</option>
      <option>41</option>
      <option>42</option>
      <option>43</option>
      <option>44</option>
      <option>45</option>
      <option>46</option>
      <option>47</option>
      <option>48</option>
      <option>49</option>
      <option>50</option>
      <option>51</option>
      <option>52</option>
      <option>53</option>
      <option>54</option>
      <option>55</option>
      <option>56</option>
      <option>57</option>
      <option>58</option>
      <option>59</option>
      <option>60</option>
      <option>61</option>
      <option>62</option>
      <option>63</option>
      <option>64</option>
      <option>65</option>
      <option>66</option>
      <option>67</option>
      <option>68</option>
      <option>69</option>
      <option>70</option>
      <option>71</option>
      <option>72</option>
      <option>73</option>
      <option>74</option>
      <option>75</option>
      <option>76</option>
      <option>77</option>
      <option>78</option>
      <option>79</option>
      <option>80</option>
      <option>81</option>
      <option>82</option>
      <option>83</option>
      <option>84</option>
      <option>85</option>
      <option>86</option>
      <option>87</option>
      <option>88</option>
      <option>89</option>
      <option>90</option>
      <option>91</option>
      <option>92</option>
      <option>93</option>
      <option>94</option>
      <option>95</option>
      <option>96</option>
      <option>97</option>
      <option>99</option>
      <option>100</option>
      <option>over 100</option>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputGender" class="col-sm-3 col-form-label text-left">Gender</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputGender" name="gender" required>
      	 	<option selected>Female</option>
		<option>Male</option>
		<option>Other</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEducation" class="col-sm-3 col-form-label text-left">Highest education level completed</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEducation" name="education" required>
                <option>Primary School (Class 1<sup>st</sup>-5<sup>th</sup>)</option>
                <option>Secondary School (Class 6<sup>th</sup>-10<sup>th</sup>)</option>
                <option selected>Higher Secondary / Class 12<sup>th</sup></option>
                <option>Technical/Vocational training</option>
                <option>Diploma</option>
                <option>Batchelor’s Degree</option>
                <option>Master’s Degree</option>
                <option>Doctorate, PhD</option>
                </select>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputSpoken" class="col-sm-3 col-form-label text-left">Standard of spoken English</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputSpoken" name="spoken" required>
      	 	<option selected>4. Very Fluent</option>
		<option>3. Fluent</option>
		<option>2. Somewhat Fluent</option>
		<option>1. Not fluent</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEnglish" class="col-sm-3 col-form-label text-left">Standard of written English</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEnglish" name="english" required>
      	 	<option selected>4. Very Fluent</option>
		<option>3. Fluent</option>
		<option>2. Somewhat Fluent</option>
		<option>1. Not fluent</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputPreferred" class="col-sm-3 col-form-label text-left">What is your preferred language?</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputPreferred" name="preferred" required>
      	 	<option selected>English</option>
		<option>Hindi</option>
		<option>Tamil</option>
		<option>Kannada</option>
		<option>Malayalam</option>
		<option>Telugu</option>
		<option>Bengali</option>
		<option>Marathi</option>
		<option>Gujurathi</option>
		<option>other</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputResidence" class="col-sm-3 col-form-label text-left">Where do you currently live?</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputResidence" name="residence" required>
      	 	<option selected>Andhra Pradesh</option>
		<option>Arunachal Pradesh</option>
		<option>Assam</option>
		<option>Bihar</option>
		<option>Chhattisgarh</option>
		<option>Goa</option>
		<option>Gujarat</option>
		<option>Haryana</option>
		<option>Himachal Pradesh</option>
		<option>Jharkhand</option>
		<option>Karnataka</option>
		<option>Kerala</option>
		<option>Madhya Pradesh</option>
		<option>Maharashtra</option>
		<option>Manipur</option>
		<option>Meghalaya</option>
		<option>Mizoram</option>
		<option>Nagaland</option>
		<option>Odisha</option>
		<option>Punjab</option>
		<option>Rajasthan</option>
		<option>Sikkim</option>
		<option>Tamil Nadu</option>
		<option>Telangana</option>
		<option>Tripura</option>
		<option>Uttar Pradesh</option>
		<option>Uttarakhand</option>
		<option>West Bengal</option>
		<option>Union Territory/Other</option>
		<option>other</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputNationality" class="col-sm-3 col-form-label text-left">Nationality</label>
    <div class="col-auto">
    	 <select class="form-control bfh-countries" style="width:250px;" data-country="IN" id="inputNationality" name="nationality" required></select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputMedcial" class="col-sm-4 col-form-label text-left">Have you ever been diagnosed with any of these conditions, now or in the past?</label>
    <div class="col-auto">
         <select class="form-control" id="inputMedical" name="medical" required>
                <option selected>None</option>
                <option>dementia</option>
                <option>epilepsy</option>
                <option>brain stroke</option>
                <option>brain surgery</option>
                <option>significant head injury</option>
                <option>psychiatric condition</option>
                <option>diabetes</option>
                <option>hyper/hypothyroidism</option>
                <option>hypertension</option>
                <option>cardiac related disease</option>
                <option>Parkinson's disease or other movement disorder</option>
                <option>substance abuse (e.g. alcohol/tobacco)</option>
                <option>other</option>
                <option>multiple of the above</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputDyslexia" class="col-sm-4 col-form-label text-left">Do you have any reading problems e.g. dyslexia?</label>
    <div class="col-auto">
         <select class="form-control" id="inputDyslexia" name="dyslexia" required>
                <option selected>No</option>
                <option>Yes</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputProblems" class="col-sm-4 col-form-label text-left">Do you suffer from any memory problems or ‘forgetfulness’?</label>
    <div class="col-auto">
         <select class="form-control" id="inputProblems" name="problems" required>
                <option selected>No</option>
                <option>Don't know</option>
                <option>Yes, but rarely</option>
                <option>Yes, occasionally</option>
                <option>Yes, frequently</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputOthersComparison" class="col-sm-4 col-form-label text-left">How do you think your memory compares to other people of your age?</label>
    <div class="col-auto">
         <select class="form-control" id="inputOthersComparison" name="othersComparison" required>
                <option selected>Same or better</option>
                <option>Somewhat worse</option>
                <option>Much worse</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputSelfComparison" class="col-sm-4 col-form-label text-left">How do you think your memory compares with when you were younger?</label>
    <div class="col-auto">
         <select class="form-control" id="inputSelfComparison" name="selfComparison" required>
                <option selected>Same or better</option>
                <option>Somewhat worse</option>
                <option>Much worse</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputConversation" class="col-sm-4 col-form-label text-left">Do you forget what you’ve just read or heard in a conversation?</label>
    <div class="col-auto">
         <select class="form-control" id="inputConversation" name="conversation" required>
                <option selected>Rarely/Never</option>
                <option>Occasionally</option>
                <option>Frequently</option>
                </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputRating" class="col-sm-4 col-form-label text-left">Rate your memory on a scale of 1 to 10, with 1 worst and 10 best.</label>
    <div class="col-auto">
    <select class="form-control" id="inputRating" name="rating" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option selected>10</option>
    </select>
    </div>
  </div>



<div class="text-center">
  <button type="submit" class="btn btn-primary">Next</button>
</div>

</form>


</div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010  Norwegian ----------------- }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
<div class="col-10 ">


<div>

     <h5 class="pt-3">Demografisk informasjon</h5>
     <p>Den følgende informasjonen vil bli brukt til å undersøke hvordan hukommelse varierer innenfor forskjellige grupper i befolkningen.</p>

</div>

<form action="/demographics?form=demographics" method="POST">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>

  <div class="form-group row">
    <label for="inputAge" class="col-sm-3 col-form-label text-left">Alder</label>
    <div class="col-auto">
    <select class="form-control" id="inputAge" name="age" required>
      <option>18</option>
      <option>19</option>
      <option selected>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
      <option>34</option>
      <option>35</option>
      <option>36</option>
      <option>37</option>
      <option>38</option>
      <option>39</option>
      <option>40</option>
      <option>41</option>
      <option>42</option>
      <option>43</option>
      <option>44</option>
      <option>45</option>
      <option>46</option>
      <option>47</option>
      <option>48</option>
      <option>49</option>
      <option>50</option>
      <option>51</option>
      <option>52</option>
      <option>53</option>
      <option>54</option>
      <option>55</option>
      <option>56</option>
      <option>57</option>
      <option>58</option>
      <option>59</option>
      <option>60</option>
      <option>61</option>
      <option>62</option>
      <option>63</option>
      <option>64</option>
      <option>65</option>
      <option>66</option>
      <option>67</option>
      <option>68</option>
      <option>69</option>
      <option>70</option>
      <option>71</option>
      <option>72</option>
      <option>73</option>
      <option>74</option>
      <option>75</option>
      <option>76</option>
      <option>77</option>
      <option>78</option>
      <option>79</option>
      <option>80</option>
      <option>81</option>
      <option>82</option>
      <option>83</option>
      <option>84</option>
      <option>85</option>
      <option>86</option>
      <option>87</option>
      <option>88</option>
      <option>89</option>
      <option>90</option>
      <option>91</option>
      <option>92</option>
      <option>93</option>
      <option>94</option>
      <option>95</option>
      <option>96</option>
      <option>97</option>
      <option>99</option>
      <option>100</option>
      <option>over 100</option>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputGender" class="col-sm-3 col-form-label text-left">Kjønn</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputGender" name="gender" required>
      	 	<option selected>Kvinne</option>
		<option>Mann</option>
		<option>Annet</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEducation" class="col-sm-3 col-form-label text-left">Høyest fullførte utdanningsnivå</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEducation" name="education" required>
                <option>Barneskole</option>
                <option>Ungdomsskole</option>
                <option selected>Videregående, studiespesialiserende</option>
                <option>Yrkesfag med fagbrev</option>
                <option>Bachelor</option>
                <option>Master</option>
                <option>Doktorgrad, profesjon, PhD</option>
                </select>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEnglish" class="col-sm-3 col-form-label text-left">Norskkunnskaper</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEnglish" name="english" required>
      	 	<option selected>Morsmål</option>
		<option>Flytende</option>
		<option>Muntlig</option>
		<option>Dårligere enn muntlig</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputNationality" class="col-sm-3 col-form-label text-left">Nasjonalitet</label>
    <div class="col-auto">
    	 <select class="form-control bfh-countries" style="width:250px;" data-country="NO" id="inputNationality" name="nationality" required></select>
    </div>
  </div>


  <div class="form-group row align-items-center">
    <label for="inputMedcial" class="col-sm-4 col-form-label text-left">Har du en medisinsk diagnose som kan påvirke hukommelsen din?</label>
    <div class="col-auto">
         <select class="form-control" id="inputMedical" name="medical" required>
                <option selected>Nei</option>
                <option>Ja, demens</option>
                <option>Ja, epilepsi</option>
                <option>Ja, hjerneslag</option>
                <option>Ja, hjernekirurgi</option>
                <option>Ja, betydelig hodeskade</option>
                <option>Ja, annet</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputDyslexia" class="col-sm-4 col-form-label text-left">Har du lesevansker, for eksempel dysleksi?</label>
    <div class="col-auto">
         <select class="form-control" id="inputDyslexia" name="dyslexia" required>
                <option selected>Nei</option>
                <option>Ja</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputProblems" class="col-sm-4 col-form-label text-left">Lider du av hukommelsesproblemer eller «glemsomhet»?</label>
    <div class="col-auto">
         <select class="form-control" id="inputProblems" name="problems" required>
                <option selected>Nei</option>
                <option>Vet ikke</option>
                <option>Ja, men sjeldent</option>
                <option>Ja, noen ganger</option>
                <option>Ja, ofte</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputOthersComparison" class="col-sm-4 col-form-label text-left">Hvordan tror du hukommelsen din sammenlignes med andre mennesker på din alder?</label>
    <div class="col-auto">
         <select class="form-control" id="inputOthersComparison" name="othersComparison" required>
                <option selected>Lik eller bedre</option>
                <option>Noe verre</option>
                <option>Mye verre</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputSelfComparison" class="col-sm-4 col-form-label text-left">Hvordan tror du hukommelsen din er i dag, sammenlignet med da du var yngre?</label>
    <div class="col-auto">
         <select class="form-control" id="inputSelfComparison" name="selfComparison" required>
                <option selected>Lik eller bedre</option>
                <option>Noe verre</option>
                <option>Mye verre</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputConversation" class="col-sm-4 col-form-label text-left">Pleier du å glemme det du nettopp har lest eller hørt i en samtale?</label>
    <div class="col-auto">
         <select class="form-control" id="inputConversation" name="conversation" required>
                <option selected>Sjelden/Aldri</option>
                <option>Noen ganger</option>
                <option>Ofte</option>
                </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputRating" class="col-sm-4 col-form-label text-left">Ranger din hukommelse på en skala fra 1 til 10, der 1 er dårligst og 10 er best.</label>
    <div class="col-auto">
    <select class="form-control" id="inputRating" name="rating" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option selected>10</option>
    </select>
    </div>
  </div>


<div class="text-center">
  <button type="submit" class="btn btn-primary">Neste</button>
</div>

</form>


</div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
<div class="col-10 ">


<div>

     <h5 class="pt-3">Demographic information</h5>
     <p>The following information will be used to investigate how memory varies for different groups within the general population.</p>

</div>

<form action="/demographics?form=demographics" method="POST">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>

  <div class="form-group row">
    <label for="inputAge" class="col-sm-2 col-form-label text-left">Age</label>
    <div class="col-auto">
    <select class="form-control" id="inputAge" name="age" required>
      <option>18</option>
      <option>19</option>
      <option selected>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
      <option>34</option>
      <option>35</option>
      <option>36</option>
      <option>37</option>
      <option>38</option>
      <option>39</option>
      <option>40</option>
      <option>41</option>
      <option>42</option>
      <option>43</option>
      <option>44</option>
      <option>45</option>
      <option>46</option>
      <option>47</option>
      <option>48</option>
      <option>49</option>
      <option>50</option>
      <option>51</option>
      <option>52</option>
      <option>53</option>
      <option>54</option>
      <option>55</option>
      <option>56</option>
      <option>57</option>
      <option>58</option>
      <option>59</option>
      <option>60</option>
      <option>61</option>
      <option>62</option>
      <option>63</option>
      <option>64</option>
      <option>65</option>
      <option>66</option>
      <option>67</option>
      <option>68</option>
      <option>69</option>
      <option>70</option>
      <option>71</option>
      <option>72</option>
      <option>73</option>
      <option>74</option>
      <option>75</option>
      <option>76</option>
      <option>77</option>
      <option>78</option>
      <option>79</option>
      <option>80</option>
      <option>81</option>
      <option>82</option>
      <option>83</option>
      <option>84</option>
      <option>85</option>
      <option>86</option>
      <option>87</option>
      <option>88</option>
      <option>89</option>
      <option>90</option>
      <option>91</option>
      <option>92</option>
      <option>93</option>
      <option>94</option>
      <option>95</option>
      <option>96</option>
      <option>97</option>
      <option>99</option>
      <option>100</option>
      <option>over 100</option>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputGender" class="col-sm-2 col-form-label text-left">Gender</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputGender" name="gender" required>
      	 	<option selected>Female</option>
		<option>Male</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEducation" class="col-sm-2 col-form-label text-left">Highest education level completed</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEducation" name="education" required>
                <option>Primary School</option>
                <option>Secondary School / UK O Levels,GCSEs</option>
                <option selected>High School Graduate / UK A Levels</option>
                <option>Technical or Trade Certificate</option>
                <option>Diploma</option>
                <option>Batchelor’s Degree</option>
                <option>Master’s Degree</option>
                <option>Doctorate, PhD</option>
                </select>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEnglish" class="col-sm-2 col-form-label text-left">Standard of English</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEnglish" name="english" required>
      	 	<option selected>First language</option>
		<option>Fluent</option>
		<option>Conversational</option>
		<option>Below conversational</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputNationality" class="col-sm-2 col-form-label text-left">Nationality</label>
    <div class="col-auto">
    	 <select class="form-control bfh-countries" style="width:250px;" data-country="GB" id="inputNationality" name="nationality" required></select>
    </div>
  </div>


<div class="text-center">
  <button type="submit" class="btn btn-primary">Next</button>
</div>

</form>


</div>
</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
<div class="col-10 ">


<div>

     <h5 class="pt-3">Demographic information</h5>
     <p>The following information will be used to investigate how memory varies for different groups within the general population.</p>

</div>

<form action="/demographics?form=demographics" method="POST">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>

  <div class="form-group row">
    <label for="inputAge" class="col-sm-2 col-form-label text-left">Age</label>
    <div class="col-auto">
    <select class="form-control" id="inputAge" name="age" required>
      <option>16</option>
      <option>17</option>
      <option>18</option>
      <option>19</option>
      <option selected>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
      <option>34</option>
      <option>35</option>
      <option>36</option>
      <option>37</option>
      <option>38</option>
      <option>39</option>
      <option>40</option>
      <option>41</option>
      <option>42</option>
      <option>43</option>
      <option>44</option>
      <option>45</option>
      <option>46</option>
      <option>47</option>
      <option>48</option>
      <option>49</option>
      <option>50</option>
      <option>51</option>
      <option>52</option>
      <option>53</option>
      <option>54</option>
      <option>55</option>
      <option>56</option>
      <option>57</option>
      <option>58</option>
      <option>59</option>
      <option>60</option>
      <option>61</option>
      <option>62</option>
      <option>63</option>
      <option>64</option>
      <option>65</option>
      <option>66</option>
      <option>67</option>
      <option>68</option>
      <option>69</option>
      <option>70</option>
      <option>71</option>
      <option>72</option>
      <option>73</option>
      <option>74</option>
      <option>75</option>
      <option>76</option>
      <option>77</option>
      <option>78</option>
      <option>79</option>
      <option>80</option>
      <option>81</option>
      <option>82</option>
      <option>83</option>
      <option>84</option>
      <option>85</option>
      <option>86</option>
      <option>87</option>
      <option>88</option>
      <option>89</option>
      <option>90</option>
      <option>91</option>
      <option>92</option>
      <option>93</option>
      <option>94</option>
      <option>95</option>
      <option>96</option>
      <option>97</option>
      <option>99</option>
      <option>100</option>
      <option>over 100</option>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputGender" class="col-sm-2 col-form-label text-left">Gender</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputGender" name="gender" required>
      	 	<option selected>Female</option>
		<option>Male</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEducation" class="col-sm-2 col-form-label text-left">Highest education level completed</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEducation" name="education" required>
                <option>Primary School</option>
                <option>Secondary School / UK O Levels,GCSEs</option>
                <option selected>High School Graduate / UK A Levels</option>
                <option>Technical or Trade Certificate</option>
                <option>Diploma</option>
                <option>Batchelor’s Degree</option>
                <option>Master’s Degree</option>
                <option>Doctorate, PhD</option>
                </select>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputEnglish" class="col-sm-2 col-form-label text-left">Standard of English</label>
    <div class="col-auto">
    	 <select class="form-control" id="inputEnglish" name="english" required>
      	 	<option selected>First language</option>
		<option>Fluent</option>
		<option>Conversational</option>
		<option>Below conversational</option>
    		</select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputNationality" class="col-sm-2 col-form-label text-left">Nationality</label>
    <div class="col-auto">
    	 <select class="form-control bfh-countries" style="width:250px;" data-country="GB" id="inputNationality" name="nationality" required></select>
    </div>
  </div>


  <div class="form-group row align-items-center">
    <label for="inputMedcial" class="col-sm-4 col-form-label text-left">Do you have any diagnosed medical condition(s) which might affect your memory?</label>
    <div class="col-auto">
         <select class="form-control" id="inputMedical" name="medical" required>
                <option selected>No</option>
                <option>Yes, dementia</option>
                <option>Yes, epilepsy</option>
                <option>Yes, stroke</option>
                <option>Yes, brain surgery</option>
                <option>Yes, significant head injury</option>
                <option>Yes, other</option>
                </select>
    </div>
  </div>


  <div class="form-group row align-items-center">
    <label for="inputNeuro" class="col-sm-4 col-form-label text-left">Do you have a neurodiverse condition?</label>
    <div class="col-auto">
         <select class="form-control" id="inputNeuro" name="neuro" required>
                <option selected>No</option>
                <option>Yes, prosopagnosia</option>
                <option>Yes, aphantasia</option>
                <option>Yes, hyperphantasia</option>
                <option>Yes, synaesthesia</option>
                <option>Yes, SDAM</option>
                <option>Yes, other</option>
                </select>
    </div>
  </div>


  <div class="form-group row align-items-center">
    <label for="inputDyslexia" class="col-sm-4 col-form-label text-left">Do you have any reading problems e.g. dyslexia?</label>
    <div class="col-auto">
         <select class="form-control" id="inputDyslexia" name="dyslexia" required>
                <option selected>No</option>
                <option>Yes</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputProblems" class="col-sm-4 col-form-label text-left">Do you suffer from any memory problems or ‘forgetfulness’?</label>
    <div class="col-auto">
         <select class="form-control" id="inputProblems" name="problems" required>
                <option selected>No</option>
                <option>Don't know</option>
                <option>Yes, but rarely</option>
                <option>Yes, occasionally</option>
                <option>Yes, frequently</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputOthersComparison" class="col-sm-4 col-form-label text-left">How do you think your memory compares to other people of your age?</label>
    <div class="col-auto">
         <select class="form-control" id="inputOthersComparison" name="othersComparison" required>
                <option selected>Same or better</option>
                <option>Somewhat worse</option>
                <option>Much worse</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputSelfComparison" class="col-sm-4 col-form-label text-left">How do you think your memory compares with when you were younger?</label>
    <div class="col-auto">
         <select class="form-control" id="inputSelfComparison" name="selfComparison" required>
                <option selected>Same or better</option>
                <option>Somewhat worse</option>
                <option>Much worse</option>
                </select>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="inputConversation" class="col-sm-4 col-form-label text-left">Do you forget what you’ve just read or heard in a conversation?</label>
    <div class="col-auto">
         <select class="form-control" id="inputConversation" name="conversation" required>
                <option selected>Rarely/Never</option>
                <option>Occasionally</option>
                <option>Frequently</option>
                </select>
    </div>
  </div>


  <div class="form-group row">
    <label for="inputRating" class="col-sm-4 col-form-label text-left">Rate your memory on a scale of 1 to 10, with 1 worst and 10 best.</label>
    <div class="col-auto">
    <select class="form-control" id="inputRating" name="rating" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option selected>10</option>
    </select>
    </div>
  </div>


  <div class="form-group row">
    <label for="inputSource" class="col-sm-4 col-form-label text-left">How did you hear about our study?</label>
    <div class="col-auto">
    <select class="form-control" id="inputSource" name="source" required>
      <option>Looking online for memory studies</option>
      <option>Know lead researcher (T.McGibbon, A.Jansari)</option>
      <option>Know someone else working on the project</option>
      <option>Goldmsiths Alumni</option>
      <option>Dr Ashok Jansari’s Facebook page</option>
      <option>Ashok’s personal Facebook page</option>
      <option>Ashok’s LCV choir</option>
      <option>I am a friend of Lofty’s</option>
      <option>A friend told me about it</option>
      <option>From my school, college or university</option>
      <option>Other</option>
    </select>
    </div>
  </div>


<div class="text-center">
  <button type="submit" class="btn btn-primary">Next</button>
</div>

</form>


</div>
</div>


{{/if}}