{{! ----------------- Institution 1001   Project 001  AUS CTE  ------------------ }}

{{#if project.p1001_001}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1001_001.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 104  UK Treatment Seeking version  ------------------ }}

{{else if project.p1000_104}}


<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_104.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 103  UK Rugby  ------------------ }}

{{else if project.p1000_103}}


<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_103.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 102 American Football  ------------------ }}

{{else if project.p1000_102}}


<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_102.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 101  UK Menopause version  ------------------ }}

{{else if project.p1000_101}}


<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_101.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 100  UK Reference/Trial version  ------------------ }}

{{else if project.p1000_100}}


<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_100.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 080  Greek  ------------------ }}

{{else if project.p1000_080}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Σας ευχαριστούμε για το ενδιαφέρον σας για τη συγκεκριμένη μελέτη! </h5>
     	    <p>Απολογούμαστε που δεν επιθυμείτε να συμμετάσχετε στη μελέτη. Έχετε αποσυρθεί. Είστε ευπρόσδεκτος/η να επιστρέψετε και να συμμετάσχετε σε άλλες μελλοντικές μας μελέτες.</p>

            <a href="/" class="btn btn-primary" role="button">Επιστροφή στην αρχική σελίδα</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_080.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 070  Elika CTE English  ------------------ }}

{{else if project.p1000_070}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_070.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 060  Polish  ------------------ }}

{{else if project.p1000_060}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Dziękujemy za chęć wzięcia udziału w badaniu! </h5>
     	    <p>Przykro nam, że Pan/i nie weźmie udziału w badaniu. Pana/i rezygnacja została przyjęta. Zapraszamy do uczestnictwa w innych badaniach prowadzonych przez nas w przyszłości.</p>

            <a href="/" class="btn btn-primary" role="button">Powrót do strony głównej</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 050  Turkish  ------------------ }}

{{else if project.p1000_050}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>İlginiz için teşekkür ederiz! </h5>
     	    <p>Araştırmamıza katılmak istemediğiniz için üzgünüz. Çalışmadan geri çekildiniz. İleride geri dönebilir ve başka çalışmalarımıza katılabilirsiniz.</p>

            <a href="/" class="btn btn-primary" role="button">Ana sayfaya dön</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 040  Italian  ------------------ }}

{{else if project.p1000_040}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Ti ringraziamo per il tuo interesse nel nostro studio di ricerca!</h5>
     	    <p>
	    Siamo spiacenti che non desideri partecipare allo studio. La tua partecipazione è stata revocata con successo. Ti invitiamo a partecipare ad altri studi in futuro. 
 	    </p>

            <a href="/" class="btn btn-primary" role="button">Ritornare alla pagina principale</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 030  French ------------------ }}

{{else if project.p1000_030}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Merci pour votre intérêt dans cette recherche! </h5>
     	    <p>Nous sommes désolés que vous ne souhaitiez pas participer à cette étude. Vous avez été retiré. Vous êtes invités à revenir et participer à nos futurs études. 
            </p>

            <a href="/" class="btn btn-primary" role="button">Retourner à la page d'accueil</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 010   Norwegian ------------------ }}

{{else if project.p1000_010}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Takk for din interesse i prosjektet!</h5>
     	    <p>Vi beklager å høre at du ikke ønsker å delta i prosjektet. Din deltakelse har blitt trukket. Du er velkommen tilbake for å delta i andre studier.</p>

            <a href="/" class="btn btn-primary" role="button">Tilbake til startsiden</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>

{{! ----------------- Institution 1000   Project 009  UK Remember Positive  ------------------ }}

{{else if project.p1000_009}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_009.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 008  UK Forget Negative  ------------------ }}

{{else if project.p1000_008}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_008.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 007 UK Recognition ------------------ }}

{{else if project.p1000_007}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_007.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 006 UK CTE ------------------ }}

{{else if project.p1000_006}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_006.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 005 UK Greenwich ------------------ }}

{{else if project.p1000_005}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_005.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 004 UK EPS CVLT ------------------ }}

{{else if project.p1000_004}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_004.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 003 UK Schools ------------------ }}

{{else if project.p1000_003}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_003.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


{{/if}}



