{{! ----------------- Institution 1001   Project 001 AUS CTE  ------------------ }}

{{#if project.p1001_001}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1001_001.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1001   Project 020  Spanish version ------------------ }}

{{else if project.p1001_020}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Retirarse del estudio. </h5>
     	    <p>Si desea retirarse del estudio, haga clic en el botón Retirarse. Toda la información personal relativa a su participación se eliminará de nuestra base de datos.</p>
            <p>Si se retira, no podrá reanudar su participación en este estudio en una fecha posterior. No obstante, podrá seguir participando en nuestros futuros estudios.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Retirarse</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1001_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 108 UK 1min24hr with FCR cutdown version ------------------ }}

{{else if project.p1000_108}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_108.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 107 UK battle re-enactment  ------------------ }}

{{else if project.p1000_107}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_107.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 106 UK RPS 1 week 2nd delay ------------------ }}

{{else if project.p1000_106}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_106.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 105  AUS sports version  ------------------ }}

{{else if project.p1000_105}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_105.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 104  UK Treatment Seeking version  ------------------ }}

{{else if project.p1000_104}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_104.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 103 UK Rugby  ------------------ }}

{{else if project.p1000_103}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_103.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 102 American Football  ------------------ }}

{{else if project.p1000_102}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_102.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 101  UK Menopause version  ------------------ }}

{{else if project.p1000_101}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_101.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 100  UK Reference/Trial version  ------------------ }}

{{else if project.p1000_100}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_100.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 080 Greek   ------------------ }}

{{else if project.p1000_080}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Αποχώρηση από τη μελέτη.</h5>
     	    <p>Εάν επιθυμείτε να αποχωρήσετε από τη μελέτη κάντε κλικ στο παρακάτω κουμπί «Αποχώρηση». Οι προσωπικές σας πληροφορίες που σχετίζονται με τη συμμετοχή σας θα διαγραφούν από τη βάση δεδομένων μας.</p>
            <p>Εάν αποχωρήσετε δε θα μπορείτε να συνεχίσετε τη συμμετοχή σας στην εν λόγω έρευνα σε μεταγενέστερο χρόνο. Ωστόσο θα είστε ακόμα ευπρόσδεκτοι να συμμετάσχετε σε μελλοντικές μελέτες.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Αποχώρηση</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_080.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 070 Elika CTE English  ------------------ }}

{{else if project.p1000_070}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_070.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 060 Polish  ------------------ }}

{{else if project.p1000_060}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'> Rezygnacja z udziału w badaniu</h5>
     	    <p>Jeśli chce Pan/i zrezygnować z udziału w badaniu prosimy kliknąć przycisk “Rezygnuję”. Wszystkie Pana/i dane osobowe zostaną usunięte z naszej bazy danych.</p>
            <p>Jeśli Pan/i zrezygnuje, nie będzie można powrócić do udziału w tym badaniu. Niemniej jednak, zachęcamy do udziału w innych prowadzonych przez nas badaniach.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Rezygnuję</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_060.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 050 Turkish ------------------ }}

{{else if project.p1000_050}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Çalışmadan geri çekilme.</h5>
     	    <p>Çalışmadan geri çekilmek istiyorsanız aşağıdaki Geri Çekil butonuna tıklayın. Katılımınıza ilişkin bütün kişisel bilgileriniz veri tabanımızdan silinecektir.</p>
            <p>Geri çekildiğiniz takdirde daha sonra bu araştırmaya katılmaya devam edemezsiniz. Ancak gelecekteki çalışmalarımıza katılabilirsiniz.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Geri Çekil</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_050.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 040 Italian  ------------------ }}

{{else if project.p1000_040}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Ritirarsi dallo studio.</h5>
     	    <p>Se desideri ritirarti dallo studio clicca sul pulsante Abbandono. Tutti i dati personali relativi alla tua partecipazione verranno eliminati dalla nostra banca dati.</p>
            <p>Una volta abbandonato lo studio non sarà più possibile riprendere la partecipazione. Tuttavia, sarai il benvenuto nel caso in cui volessi partecipare ad altri nostri studi in futuro.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Abbandono</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_040.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 030 French ------------------ }}

{{else if project.p1000_030}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Se retirer de l'étude.</h5>
     	    <p>Si vous souhaitez vous retirer de l'étude, cliquez sur le bouton "Se retirer" ci-dessous. Toutes les informations personnelles relatives à votre participation seront supprimées de notre base de données.</p>
            <p>Si vous vous retirez, vous ne pourrez pas reprendre votre participation ultérieurement. Cependant, vous pourrez toujours participer à nos prochaines études.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Se retirer</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 020 Indian English ------------------ }}

{{else if project.p1000_020}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 010  Norwegian ------------------ }}

{{else if project.p1000_010}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Trekke seg fra prosjektet.</h5>
     	    <p>Hvis du ønsker å trekke deg fra prosjektet klikker du Trekke seg knappen nedenfor. All informasjon om din deltakelse vil bli slettet fra databasen våres. </p>
            <p>Hvis du velger å trekke deg, vil du ikke kunne fortsette din deltakelse ved en senere anledning. Men vi ønsker deg alltid velkommen til å delta i våres fremtidige prosjekter. </p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Trekke seg</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 009  UK Remember Positive  ------------------ }}

{{else if project.p1000_009}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_009.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 008  UK Forget Negative  ------------------ }}

{{else if project.p1000_008}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_008.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 007 UK Recognition  ------------------ }}

{{else if project.p1000_007}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_007.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 006 UK CTE  ------------------ }}

{{else if project.p1000_006}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_006.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 005 UK Greenwich ------------------ }}

{{else if project.p1000_005}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_005.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 004 UK EPS CVLT ------------------ }}

{{else if project.p1000_004}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_004.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 003 UK Schools ------------------ }}

{{else if project.p1000_003}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>

<div>
     {{#section "projectjs"}}
     <script src="js/p1000_003.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Withdrawing from the study.</h5>
     	    <p>If you wish to withdraw from the study click on the Withdraw button below. All personal information relating to your participation will be deleted from our database.</p>
            <p>If you do withdraw you will not be able to resume participation in this study at a later date. However you will still be welcome to participate in our future studies.</p>

        </div>
    </div>

    <div class="row justify-content-center">
    	 <form class="form-horizontal" action="/withdraw?form=menu" method="POST">
	       <input type="hidden" name="_csrf" value={{_csrfToken}}>
    	       <div class="form-group row align-items-center">
  	       	    <button type="submit" class="btn btn-primary" id="menuWithdraw">Withdraw</button>
  	       </div>
     	 </form>
    </div>


{{/if}}